{% extends "core/dashboard.html" %}
{% load static %}
{% load evento_passado %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'evento/css/evento.css' %}">
<link rel="stylesheet" href="{% static 'evento/css/evento_responsive.css' %}">

{% endblock style %}

{% block dashboard_actions %}
{% include "core/includes/default_actions.html" %}
{% if request.user.is_admin %}
<a role="button" href="{% url 'evento:evento_create_view' %}" class="btn button-filled button-adicionar gap-2">
    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
</a>
{% endif %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="evento-section">
    {% for evento in evento %}
        {% if forloop.first %}
        <h4 class="titulo-proximo-evento">Próximo Evento</h4>
        {% elif evento.data|evento_passado %}
        <h5 class="titulo-evento-passados">Eventos passados</h6>
        <div class="evento-linha linha-porvir"></div>
        {% else %}
        <h5 class="titulo-evento-porvir">Eventos por vir</h6>
        <div class="evento-linha linha-porvir"></div>
        {% endif %}
        <div class="evento-component">
            {% include "evento/partials/card_evento.html" with evento=evento index=forloop.counter %}
            {% if request.user.is_admin %}
                {% include "core/includes/default_item_actions.html" with object=evento edit_link='evento:evento_update_view' delete_link='evento:evento_delete_view' item_pk=evento.pk %}
            {% endif %}
        </div>
        {% if forloop.last %}
        <div class="titulo-evento-fim"><small class=" text-muted">Não há mais eventos agendados após esta data. Fique atento para os próximos anúncios e novidades em breve!</small></div>
        {% endif %}
    {% endfor %}
</section>
{% endblock dashboard_content %}