{% load crispy_forms_tags %}
<div class="search-input">
    <i class="fa-solid fa-magnifying-glass"></i>
    <form method="GET">
        <input name="q" class="form-primary" type="text" placeholder="Pesquisar" value="{{ request.GET.q }}">
    </form>
</div>
<button type="button" data-bs-toggle="offcanvas" data-bs-target="#modal_filtar" class="btn button-filled-tonal">
    <i class="fa-solid fa-filter fa-xl"></i>
</button>
<div class="offcanvas offcanvas-end offcanvas-filter" id="modal_filtar" data-bs-scroll="true" tabindex="-1" aria-labelledby="modal_filtar_label">
    <div class="offcanvas-content p-2">
        <form  method="get">
            <div class="offcanvas-header">
                <h1 class="modal-title fs-5" id="modal_filtar_label">
                    <i class="fa-solid fa-filter fa-lg me-1 text-primary"></i>
                    <b>Filtrar por:</b>
                </h1>
                <a href="{% url link_list instituicao.pk %}" class="text-primary ms-auto">Limpar Filtros</a>
            </div>
            <div class="offcanvas-body">
                {% crispy filter.form %}
                <button type="submit" class="btn button-filled w-100">Aplicar filtros</button>
            </div>
        </form>
    </div>
</div>