<div class="modal" id="delete-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content pt-2">
            <form id="form-delete" method="get" action="">
                <div class="modal-body pb-0">
                    <div class="modal-excluir-body">
                        <div class="text-center">
                            <i class="fa-regular fa-trash-can fa-2xl"></i>
                        </div>
                        <div >
                            <h5 class="modal-title mb-2">Excluir "<span class="object-delete"></span>"</h5>
                            <span>Você está prestes a excluir "<span class="object-delete"></span>" <b>permanentemente</b>, isso significa que não será possível defazer esse processo posteriormente.
                                <br>Tem certeza que deseja prosseguir?</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Não, Cancelar</button>
                    <button type="submit" class="btn button-danger">Sim, Excluir.</button>
                </div>
            </form>
        </div>
    </div>
  </div>