{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock css %}

{% block content %}
<section class="section-login {% block section_login_classes %}{% endblock section_login_classes %}">
    <div class="card-login-logo {% block card_login_classes %}{% endblock card_login_classes %}">
        {% block logo_content %}
            <div class="login-logo-content">
                <div>
                    <img src="{% static 'public/img/Logo.png' %}" class="logo-login mx-auto mb-3"/>
                    <h2 class="titulo-app">Ixoye Connect</h2>
                </div>
                <div class="login-logo-texto">
                    <h1>Bem-Vindo!</h1>
                    <h3>Por favor, preencha seus dados para continuar.</h3>
                </div>
            </div>
            {% endblock logo_content %}
        <div class="wave-divisor"></div>
    </div>
    <div class="card-login">
        {% if '/login/' not in request.path %}
        <div class="retornar">
            <a href="{% url 'account_login' %}"><i class="fa-solid fa-arrow-left mr-1"></i> <span>Retornar a página inicial</span></a>
        </div>
        {% endif %}
        <div id="dark-mode">
            <i role="button" class="fa-regular fa-moon icon-dark-mode fa-2xl" onclick="darkMode()"></i>
        </div>
        {% block card_content %}{% endblock card_content %}
    </div>

</section>
{% endblock content %}