{% extends "account/base.html" %}
{% load static %}

{% block card_content %}
<section class="conta-inativa">
    <div class="text-center">
        <i class="fa-solid fa-link-slash"></i>
    </div>
    <h5>
        Sua conta foi desvinculada da instituição. Caso deseje mais informações ou esclarecimentos, entre em contato com um representante da igreja.
    </h5>
    <div class="">
        <a class="btn button-filled w-100" href="{% url 'core:account_login' %}">
            Retornar a página principal.
        </a>

    </div>
</section>
{% endblock card_content %}