{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock css %}

{% block card_content %}
<form class="login-form" method="POST">
    {% csrf_token %}
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    <div class="alert-danger">
        <span>{{ error|escape }}</span>
    </div>
    {% endfor %}
    {% endif %}
    <h3>Fazer Login</h3>
    <div>
        {% crispy form %}
    </div>
    <div>
        <button type="submit" class="button button-primary">Entrar</button>
    </div>
    <div class="divisor-login">
        <hr>
        <span>Ou</span>
        <hr>
    </div>
    <div class="div-login-google">
        <button type="button" class="button button-secondary">
            <div>
                <i class="fa-brands fa-google fa-2xl"></i> <span>Conectar-se com Google</span>
            </div>
        </button>
    </div>
    <div class="text-center">
        <span>Ainda não possui uma conta? <a href="{{ signup_url }}">Registre-se</a></span>
    </div>
</form>
{% endblock card_content %}