{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}

{% block card_content %}
<div class="d-flex flex-column align-items-center h-100">
    <div class="div-password-reset flex-fill">
        <div>
            <h2 class="mb-3">Redefinição de senha</h2>
            <h6>Enviamos um e-mail para você. Se você não o recebeu, por favor, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não o receber em alguns minutos.</h6>
        </div>
        <div class="">
            <a class="btn button-filled w-100" href="{% url 'core:account_login' %}">
                <i class="fa-solid fa-arrow-left me-3"></i>Retornar a página principal
            </a>
        </div>
    </div>
</div>
{% endblock card_content %}