{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% load crispy_forms_tags %}

{% block card_content %}
<div class="d-flex flex-column">
    <div class="div-password-reset flex-fill">
        <div>
            <h2 class="mb-3">Redefinição de senha</h2>
            <h6>Esqueceu sua senha? Insira seu endereço de e-mail abaixo e nós enviaremos um e-mail permitindo que você a redefina</h6>
        </div>
        {% crispy form %}
    </div>
</div>
{% endblock card_content %}