{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load allauth %}

{% block css %}
{% endblock css %}

{% block content %}
<section class="section-login section-signup">
    <div class="card-login-logo">
        <div class="login-logo-content">
            <div>
                <img class="logo-login" src="{% static 'public/img/Logo.png' %}" alt="">
                <h2>Ixoye Connect</h2>
            </div>
            <div class="login-logo-texto">
                <h1>Bem-Vindo!</h1>
                <h3>Por favor, preencha seus dados para continuar.</h3>
            </div>
        </div>
        <div class="signup-title-content">
            <a href="{% url 'account_login' %}"><i class="fa-solid fa-arrow-left fa-2xl text-white mr-1"></i></a>
            <div class="signup-title">
                <h1>Cadastro</h1>
                <h3>Preencha os dados abaixo</h3>
            </div>
        </div>
        <div class="wave-divisor"></div>
    </div>
    <div class="card-login card-signup">
        <div class="retornar">
            <a href="{% url 'account_login' %}"><i class="fa-solid fa-arrow-left mr-1"></i> Retornar a página inicial</a>
        </div>
        <form class="login-form" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="pages-signup">
                <div id="pages-singup">
                    <div class="page-singup">
                        <div class="signup-desktop-title mb-3">
                            <h2>Cadastro</h2>
                            <h6>Preencha os dados abaixo</h6>
                        </div>
                        <div class="d-flex gap-2 mb-3">
                            <button onclick="mudar_formulario(this.dataset.value)" type="button" class="button button-primary" data-value="membro"><i class="fa-solid fa-circle-user mr-1"></i> Membro</button>
                            <button onclick="mudar_formulario(this.dataset.value)" type="button" class="button button-secondary" data-value="igreja"><i class="fa-solid fa-church mr-1"></i> Igreja</button>
                        </div>
                        <h6 class="mb-3" id="dados-titulo">Dados Pessoais</h6>
                        <div id="cadastro-membro">
                            {% crispy usuario_form %}
                        </div>
                        <div id="cadastro-igreja" style="display: none;">
                            {% crispy instituicaosede_form %}
                        </div>
                    </div>
                    <div class="page-singup" style="display: none">
                        <h6 class="mb-3"><b>Dados do usuário</b></h6>
                        {% crispy form %}
                    </div>
                    <div class="page-singup" style="display: none">
                        <h6 class="mb-3"><b>Endereço</b></h6>
                        {% crispy endereco_form %}
                        <div>
                            <button type="submit" class="button button-primary">Finalizar Cadastro</button>
                        </div>
                    </div>
                </div>
                <div class="py-2 text-center">
                    <div id="pagination-div"></div>
                </div>
            </div>
        </form>
    </div>
    
</section>
{% endblock content %}

{% block scripts %}
<script>
    const items = $(".page-singup").toArray();
    $("#pagination-div").pagination({
        dataSource: items,
        pageSize: 1,
        callback: function(data, pagination) {
            $(items).css('display', 'none')
            $(data).removeAttr('style')
        }
    });

    function destroyPagination() {
        $('#pagination-div').pagination('destroy');
        $('.page-singup').removeAttr('style')
    }
    
    function checkScreenWidth() {
        if (window.innerWidth >= 768) {
            initPagination();
        }else{
            destroyPagination();
        }
    }

    
    window.addEventListener('resize', function() {
        checkScreenWidth();
    });

    function mudar_formulario(value){
        value == "igreja" ? $('#dados-titulo').html('<b>Dados da Igreja</b>') : $('#dados-titulo').html('<b>Dados pessoais</b>')
        $('[id^=cadastro-]').css('display', 'none')
        $(`#cadastro-${value}`).removeAttr('style')

        $('[id^=cadastro-]').find('input, select').prop('disabled', true)
        $(`#cadastro-${value}`).find('input, select').prop('disabled', false)

        $('button[data-value="membro"], button[data-value="igreja"]').removeClass('button-primary').addClass('button-secondary')
        $(`button[data-value="${value}"]`).removeClass('button-secondary').addClass('button-primary')
    }


    $(function(){
        mudar_formulario('membro');
        checkScreenWidth();
    })

    $('.login-form').submit(function(e){
        e.preventDefault();
        $(this).find('input, select').prop('required', false)
        $(this).unbind('submit').submit();
    })
</script>
{% endblock scripts %}