{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load allauth %}

{% block css %}
<style>
    #pages-singup{
        display: flex;
        overflow-x: scroll;
        scroll-snap-align: center;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    #pages-singup::-webkit-scrollbar {
        display: none;
      }
    .page-singup {
        scroll-snap-align: center;
        flex: 0 0 100%;
        padding-inline: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 768px) {
        #pages-singup{
            overflow-x: hidden;
            flex-direction: column;
            row-gap:20px;
        }
        .page-singup{
            flex: unset;
        }
    }
</style>
{% endblock css %}

{% block card_login_classes %}card-signup{% endblock card_login_classes %}
{% block section_login_classes %}section-signup{% endblock section_login_classes %}

{% block logo_content %}
<div class="login-logo-content">
    <div>
        <img src="{% static 'public/img/Logo.png' %}" class="logo-login mx-auto mb-3"/>
        <h2>Ixoye Connect</h2>
    </div>
    <div class="login-logo-texto">
        <h1>Bem-Vindo!</h1>
        <h3>Por favor, preencha seus dados para continuar.</h3>
    </div>
</div>
<div class="signup-title-content">
    <div class="signup-title">
        <h1>Cadastro</h1>
        <h3>Preencha os dados abaixo</h3>
    </div>
</div>
{% endblock logo_content %}

{% block card_content %}
    <form class="login-form" method="POST" action="{% url 'account_signup' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="pages-signup">
            <div id="pages-singup">
                <div class="page-singup">
                    <div class="signup-desktop-title mb-4">
                        <h2>Cadastro</h2>
                        <h6>Preencha os dados abaixo</h6>
                    </div>
                    <div class="d-flex gap-2 mb-3">
                        <button onclick="mudar_formulario(this.dataset.value)" type="button" class="btn button-filled w-100" data-value="membro"><i class="fa-solid fa-circle-user align-middle me-2"></i> Membro</button>
                        <button onclick="mudar_formulario(this.dataset.value)" type="button" class="btn button-outlined w-100" data-value="igreja"><i class="fa-solid fa-church align-middle me-2"></i> Igreja</button>
                    </div>
                    <h6 class="mb-3" id="titulo-membro">
                        <b>Dados Pessoais</b>
                    </h6>
                    <h6 class="mb-3" id="titulo-igreja">
                        <b>Dados da Igreja (Sede) <i class="fa-solid fa-circle-question text-muted ms-1" data-bs-toggle="popover" data-bs-container="body" data-bs-content="Sua sede precisa estar associada a uma Instituição. Se a Instituição não existir ainda, você pode cadastrá-la facilmente e seguir com o registro da sede." data-bs-placement="left" data-bs-trigger="hover focus" ></i></b>
                    </h6>
                    <div>
                        <div id="cadastro-membro">
                            {% crispy membro_form %}
                        </div>
                        <div id="cadastro-igreja" style="display: none;">
                            <div class="mb-3">
                                <button  type="button" id="btn-selecionar-instituicao" class="btn button-filled w-100" data-bs-toggle="modal" data-bs-target="#selecionar-instituicao">Selecione uma Instituicao</button>
                            </div>
                            {% crispy instituicaosede_form %}
                        </div>
                    </div>
                </div>
                <div class="page-singup">
                    <h6 class="mb-3"><b>Dados do usuário</b></h6>
                    {% crispy form %}
                </div>
                <div class="page-singup" >
                    <h6 class="mb-3"><b>Endereço</b></h6>
                    {% crispy endereco_form %}
                    <div>
                        <button type="submit" class="btn button-filled w-100">Finalizar Cadastro</button>
                    </div>
                </div>
            </div>
            <div class="py-2 text-center">
                <div id="pagination-div"></div>
            </div>
        </div>
    </form>

    <div class="modal" id="selecionar-instituicao" tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="search-input">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" class="form-control rounded-pill" placeholder="Pesquisar Instituições">
                    </div>
                    <div class="pt-4">
                        {% for instituicao in instituicoes %}
                            <div class="mb-3" role="button" data-instituicaopk="{{ instituicao.pk }}" data-instituicao="{{ instituicao.nome }}" onclick="selecionar_instituicao('{{ instituicao.pk }}')">
                                <b>{{ instituicao.nome }}</b>
                            </div>
                        {% empty %}
                            <span class="text-muted">Ainda não há Instituições cadastradas.</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#adicionar-instituicao" class="btn button-filled w-100">Adicionar Instituicao</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="adicionar-instituicao" tabindex="-1">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-4 border-0">
                    <div>
                        <h4><b>Nova Instituição</b></h4>
                        <small>Preencha os dados abaixo</small>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="p-4 pt-0">
                    {% crispy instituicao_form %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" id="criar-denominacao">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-4 border-0">
                    <div>
                        <h4><b>Nova Denominação</b></h4>
                        <small>Preencha os dados abaixo</small>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="p-4 pt-0">
                    {% crispy denominacao_form %}
                </div>
            </div>
        </div>
    </div>
{% endblock card_content %}

{% block scripts %}
<script>
    const items = $(".page-singup").toArray();
    function initPagination() {
        $("#pagination-div").pagination({
            dataSource: items,
            pageSize: 1,
            callback: function(data, pagination) {
                var scrollContainer = $('#pages-singup');

                var itemOffset = $(data).offset().left;
                var containerOffset = scrollContainer.offset().left;

                var scrollPosition = scrollContainer.scrollLeft() + (itemOffset - containerOffset);
            
                scrollContainer.animate({
                    scrollLeft: scrollPosition
                }, 500);
            }
        });
    }

    function destroyPagination() {
        $('#pagination-div').pagination('destroy');
        $('.page-singup').removeAttr('style')
    }
    
    function checkScreenWidth() {
        if (window.innerWidth >= 768) {
            initPagination();
        }else{
            destroyPagination();
        }
    }

    
    window.addEventListener('resize', function() {
        checkScreenWidth();
    });

    function mudar_formulario(value){
        $('[id^=titulo-]').css('display', 'none');
        $(`#titulo-${value}`).removeAttr('style')

        $('[id^=cadastro-]').css('display', 'none')
        $(`#cadastro-${value}`).removeAttr('style')

        $('[id^=cadastro-]').find('input, select').prop('disabled', true)
        $(`#cadastro-${value}`).find('input, select').prop('disabled', false)

        $('button[data-value="membro"], button[data-value="igreja"]').removeClass('button-filled').addClass('button-outlined')
        $(`button[data-value="${value}"]`).removeClass('button-outlined').addClass('button-filled')
    }


    $(function(){
        {% if instituicao_selecionada %}
        mudar_formulario('igreja');
        selecionar_instituicao('{{ instituicao_selecionada }}')
        {% else %}
        mudar_formulario('membro');
        {% endif %}
        checkScreenWidth();

        setTimeout(() => {
            if($('.invalid-feedback').length > 0 ){
                document.querySelector('.invalid-feedback').scrollIntoView();
            }
        }, 700)
    })

    function selecionar_instituicao(id){
        let item = $(`[data-instituicaopk="${id}"]`);

        let instituicao_id = item.data('instituicaopk');
        let instituicao = item.data('instituicao');

        $('#id_sede-instituicao').val(instituicao_id);
        $('#btn-selecionar-instituicao').text(instituicao).removeClass('button-filled').addClass('button-outlined');
        $('#selecionar-instituicao').modal('hide')
    }
</script>
{% endblock scripts %}