{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load allauth %}

{% block css %}
<style>
    #pages-singup{
        display: flex;
        overflow-x: scroll;
        scroll-snap-align: center;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
    #pages-singup::-webkit-scrollbar {
        display: none;
      }
    .page-singup {
        scroll-snap-align: center;
        flex: 0 0 100%;
        padding-inline: 1%;
    }

    @media (max-width: 768px) {
        #pages-singup{
            overflow-x: hidden;
            flex-direction: column;
            row-gap:20px;
        }
        .page-singup{
            flex: unset;
        }
    }
</style>
{% endblock css %}

{% block card_login_classes %}card-signup{% endblock card_login_classes %}
{% block section_login_classes %}section-signup{% endblock section_login_classes %}

{% block logo_content %}
<div class="login-logo-content">
    <div>
        <img src="{% static 'public/img/Logo.png' %}" class="logo-login mx-auto mb-3"/>
        <h2>Ixoye Connect</h2>
    </div>
    <div class="login-logo-texto">
        <h1>Bem-Vindo!</h1>
        <h3>Por favor, preencha seus dados para continuar.</h3>
    </div>
</div>
<div class="signup-title-content">
    <div class="signup-title">
        <h1>Cadastro</h1>
        <h3>Preencha os dados abaixo</h3>
    </div>
</div>
{% endblock logo_content %}

{% block card_content %}
    <form class="login-form" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="pages-signup">
            <div id="pages-singup">
                <div class="page-singup">
                    <div class="signup-desktop-title mb-4">
                        <h2>Cadastro</h2>
                        <h6>Preencha os dados abaixo</h6>
                    </div>
                    <div class="d-flex gap-2 mb-3">
                        <button onclick="mudar_formulario(this.dataset.value)" type="button" class="button button-filled" data-value="membro"><i class="fa-solid fa-circle-user mr-1"></i> Membro</button>
                        <button onclick="mudar_formulario(this.dataset.value)" type="button" class="button button-outlined" data-value="igreja"><i class="fa-solid fa-church mr-1"></i> Igreja</button>
                    </div>
                    <h6 class="mb-3" id="dados-titulo">Dados Pessoais</h6>
                    <div id="cadastro-membro">
                        {% crispy usuario_form %}
                    </div>
                    <div id="cadastro-igreja" style="display: none;">
                        {% crispy instituicaosede_form %}
                    </div>
                </div>
                <div class="page-singup" >
                    <h6 class="mb-3"><b>Dados do usuário</b></h6>
                    {% crispy form %}
                </div>
                <div class="page-singup" >
                    <h6 class="mb-3"><b>Endereço</b></h6>
                    {% crispy endereco_form %}
                    <div>
                        <button type="submit" class="button button-filled">Finalizar Cadastro</button>
                    </div>
                </div>
            </div>
            <div class="py-2 text-center">
                <div id="pagination-div"></div>
            </div>
        </div>
    </form>
{% endblock card_content %}

{% block scripts %}
<script>
    const items = $(".page-singup").toArray();
    function initPagination() {
        $("#pagination-div").pagination({
            dataSource: items,
            pageSize: 1,
            callback: function(data, pagination) {
                var scrollContainer = $('#pages-singup');

                var itemOffset = $(data).offset().left;
                var containerOffset = scrollContainer.offset().left;

                var scrollPosition = scrollContainer.scrollLeft() + (itemOffset - containerOffset);
            
                scrollContainer.animate({
                    scrollLeft: scrollPosition
                }, 500);
            }
        });
    }

    function destroyPagination() {
        $('#pagination-div').pagination('destroy');
        $('.page-singup').removeAttr('style')
    }
    
    function checkScreenWidth() {
        if (window.innerWidth >= 768) {
            initPagination();
        }else{
            destroyPagination();
        }
    }

    
    window.addEventListener('resize', function() {
        checkScreenWidth();
    });

    function mudar_formulario(value){
        value == "igreja" ? $('#dados-titulo').html('<b>Dados da Igreja</b>') : $('#dados-titulo').html('<b>Dados pessoais</b>')
        $('[id^=cadastro-]').css('display', 'none')
        $(`#cadastro-${value}`).removeAttr('style')

        $('[id^=cadastro-]').find('input, select').prop('disabled', true)
        $(`#cadastro-${value}`).find('input, select').prop('disabled', false)

        $('button[data-value="membro"], button[data-value="igreja"]').removeClass('button-filled').addClass('button-outlined')
        $(`button[data-value="${value}"]`).removeClass('button-outlined').addClass('button-filled')
    }


    $(function(){
        mudar_formulario('membro');
        checkScreenWidth();
    })
</script>
{% endblock scripts %}