@media (max-width: 768px) {
    .logo-login {
        width: 8rem;
        height: 8rem;
    }
    #dark-mode{
        top: 0;
        padding-top: 20px;
        margin-right: 3%;
        color: white;
    }
    .login-logo-texto h1{
        font-size: 1.5rem;
    }
    .login-logo-texto h3{
        font-size: 1rem;
    }
    .titulo-app{
        font-size: 2rem;
    }
    .section-login{
        grid-template-columns: 1fr;
        grid-template-rows: 45% 1fr;
        background: linear-gradient(180deg, #3DBD90 0%, #2C868C 30%)
    }
    /* .titulo-app{
        display: none;
    } */
    .section-signup{
        grid-template-rows: 20dvh 1fr;
        background: none;
        background-color: var(--aqua-blue);
    }
    .section-signup .card-login{
        padding-bottom: 10%;
    }
    .card-signup{
        grid-template-rows: 20vh 1fr;
        height: unset;
        overflow-y: scroll;
        background: linear-gradient(180deg, #3DBD90 0%, #2C868C 85%) !important;
    }
    .login-logo-content{
        justify-content: space-evenly;
    }
    .card-signup .login-logo-content{
        display: none;
    }
    .login-logo-texto{
        padding-inline: 5%;
    }
    .card-signup .signup-title-content{
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 2rem;
        padding-inline: 6%;
        color: white;
        height: 100%;
    }
    .signup-title-content{
        text-align: start;
    }
    
    .card-login{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .card-login-logo{
        margin: 0;
        background: none;
        border-radius: 0;
        position: relative;
    }
    
    .card-login-logo div:first-child {
        margin: 0;
    }
    .wave-divisor{
        /* display: none; */
        z-index: 1;
        width: 100%;
        height: 100px;
        top: unset;
        bottom: -1rem;
    }
    .card-signup .wave-divisor{
        display: none;
    }
    .login-form{
        justify-content: start;
        margin-top: 30px;
        padding-inline: 6%;
    }
    .signup-desktop-title{
        display: none;
    }
    .retornar{
        position: absolute;
        left: 0;
        top: 0;
    }
    .retornar a{
        color: white !important;
        font-size: 2rem;
    }
    .retornar a span{
        display: none;
    }
    .div-password-reset{
        padding-inline: 10%;
    }
}