{% extends "usuario/base/profile_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block profile_content %}
<section class="profile-infos">
    <form method="POST" action="">
        <div class="senha-seguranca-div profile-edit-div">
            <div>
                <h5 class="titulo-perfil-page"><b>Senha e Segurança</b></h5>
            </div>
            <div class="">
                {% crispy form %}
            </div>
            <div class="mt-3">
                <button data-bs-toggle="tooltip" data-bs-title="Salvar Alterações" title="Salvar alterações" type="submit" class="btn button-filled">Salvar alterações</button>
            </div>
        </div>
    </form>
</section>
{% endblock profile_content %}