{% load static %}
<nav class="side-nav">
    <a href="{% url 'core:dashboard' %}" class="side-nav-logo">
        <img class="side-nav-icon side-logo-icon" src="{% static 'public/img/Logo.png' %}" alt="">
        <span class="side-nav-icon-text">Ixoye Connect</span>
    </a>
    <div class="user-infos">
        <a class="user-infos" href="#">
            {% if request.user.profile_picture %}
            <img src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% endif %}" class="user-profile"></img>
            {% else %}
            <div class="user-profile"><h2>{{ request.user.0 }}</h2></div>
            {% endif %}
            <div class="user-name">
                <div>{{ request.user }}</div>
                <div>{{ request.user.email }}</div>
            </div>
        </a>
    </div>
    <div class="side-nav-items">
        <a href="#" onclick="menu_collapse()" class="side-nav-item side-nav-menu">
            <div class="side-nav-icon"><i class="fa-solid fa-bars"></i></div>
            <div class="side-nav-text">Menu</div>
        </a>
        <a href="{% url 'agenda:agendas_list_view' instituicao.pk %}" class="side-nav-item {% if 'agenda' in active %}active{% endif %}">
            <div class="side-nav-icon"><i class="fa-solid fa-calendar-days"></i></div>
            <div class="side-nav-text">Agenda Semanal</div>
        </a>
        <a href="{% url 'evento:evento_list_view' instituicao.pk %}" class="side-nav-item {% if 'eventos' in active %}active{% endif %}">
            <div class="side-nav-icon"><i class="fa-solid fa-calendar-day"></i></div>
            <div class="side-nav-text">Eventos</div>
        </a>
        <a data-bs-toggle="collapse" href="#conteudo-sidenav" role="button" class="side-nav-item {% if 'conteudo' in active %}open{% endif %}">
            <div class="side-nav-icon"><i class="fa-solid fa-book"></i></div>
            <div class="side-nav-text"><span>Conteúdo</span> <i class="fa-solid fa-chevron-right"></i></div>
        </a>
        <div class="collapse side-nav-subitem {% if 'conteudo' in active %}show{% endif %}" id="conteudo-sidenav">
            <ul>
                {% for conteudo in conteudos %}
                <a data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="{{ conteudo }}" href="{% url 'posts:conteudo_list_view' conteudo.nome|lower instituicao.pk %}">
                    <li class="{% if conteudo.nome|lower in active %}active{% endif %}">
                        <span class="side-nav-subitem-text">{{ conteudo }}</span>
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
        <a href="#" class="side-nav-item {% if 'contribuicoes' in active %}active{% endif %}">
            <div class="side-nav-icon"><i class="fa-solid fa-wallet"></i></div>
            <div class="side-nav-text">Contribuições</div>
        </a>
        <a href="#" class="side-nav-item {% if 'lista-membros' in active %}active{% endif %}">
            <div class="side-nav-icon"><i class="fa-solid fa-users"></i></div>
            <div class="side-nav-text">Lista de Membros</div>
        </a>
        <a href="#" class="side-nav-item {% if 'escalas' in active %}active{% endif %}">
            <div class="side-nav-icon"><i class="fa-solid fa-clipboard-list"></i></div>
            <div class="side-nav-text">Escalas</div>
        </a>
        <a href="/logout/" class="side-nav-item">
            <div class="side-nav-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
            <div class="side-nav-text">Sair</div>
        </a>
        <a href="#" onclick="darkMode()" class="side-nav-item">
            <div class="side-nav-icon"><i class="fa-solid fa-moon icon-dark-mode"></i></div>
            <div class="side-nav-text text-dark-mode">Modo Escuro</div>
        </a>
    </div>
</nav>
