{% load static %}
<nav class="top-nav">
    <div class="top-nav-mobile">
        <div>
            <a href="javascript:void(0);" onclick="history.back();">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div>
            {{ titulo|default:'Página Inicial' }}
        </div>
        <div>
            <a href="#" onclick="menu_collapse()">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>
    </div>
    {% comment %} <div class="top-nav-left">
        <div class="search-input">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="form-primary form-search" type="text" placeholder="Pesquisar">
        </div>
    </div> {% endcomment %}
    <div class="top-nav-items">
        <a href="{% url 'core:dashboard' %}" class="top-nav-item button-filled-tonal {% if 'dashboard/' in request.path %}active{% endif %}">
            <i class="fa-solid fa-house"></i>
        </a>
        <a href="{% url 'usuario:instituicao_detail_view' instituicao.pk %}" class="top-nav-item button-filled-tonal {% if 'usuario/instituicao/' in request.path %}active{% endif %}">
            <i class="fa-solid fa-church"></i>
        </a>
        <a href="{% url 'notificacao:notificacoes_list_view' %}" class="top-nav-item button-filled-tonal {% if 'notificacoes/' in request.path %}active{% endif %}">
            <div class="notificacao-btn">
                <i class="fa-solid fa-bell"></i>
                {% if request.user.get_quant_notificacoes > 0 %}
                <div class="notificacao-push-icon">
                    {{ request.user.get_quant_notificacoes }}
                </div>
                {% endif %}
            </div>
        </a>
        <a href="{% url 'usuario:meu_perfil' %}" class=" top-nav-item button-filled-tonal top-nav-user {% if 'minha_conta/' in request.path or 'meu_perfil/' in request.path or 'editar_perfil_membro/' in request.path %}active{% endif %}">
            <i class="fa-solid fa-user"></i>
        </a>
        <div class="user-infos">
            <a class="user-infos" href="{% url 'usuario:meu_perfil' %}">
                <img src="{% if request.user.profile_picture %}{{ request.user.profile_picture.url }}{% endif %}" class="user-profile"></img>
                <div class="user-name">
                    <div>{{ request.user }}</div>
                    <div>{{ request.user.email }}</div>
                </div>
            </a>
            <div class="user-configs" tabindex='0' role="button" data-bs-toggle="popover" data-bs-placement="bottom">
                <i role="button" class="fa-solid fa-chevron-down fa-lg"></i>
            </div>
        </div>
    </div>
</nav>