{% extends "layouts/base.html" %}
{% load static %}
{% load get_atividade %}

{% block css %}
<link rel="stylesheet" href="{% static 'relatorios/css/relatorio_imprimir.css' %}">
{% endblock css %}

{% block content %}
<section class="section-relatorios">
    <div class="header-relatorio-cultos">
        <h3 class="titulo-relatorio">Relatório de Cultos - {{ instituicao }}</h3>
        <img src="{{ instituicao.logo.url }}" class="logo-relatorio" alt="" />
    </div>
    {% if filtragem.data__gt %}
    <table class="table table-light mb-0">
        <tr class="text-center">
            <th>Período</th>
            <th>
                {{ filtragem.data__gt }} - {{ filtragem.data__lt|default_if_none:hoje }}
            </th>
        </tr>
    </table>
    {% elif filtragem.data__year %}
    <table class="table table-light mb-0">
        <tr class="text-center">
            <th>Por ano</th>
            <th>
                {{ filtragem.data__year__gt }} - {{ filtragem.data__year__lt|default_if_none:hoje }}
            </th>
        </tr>
    </table>
    {% elif filtragem.data__year__lt %}
    <table class="table table-light mb-0">
        <tr class="text-center">
            <th>Por ano</th>
            <th>
                {{ filtragem.ano }}
            </th>
        </tr>
    </table>
    {% endif %}

    {% for relatorio in relatorios %}
    <table class="table text-center table-relatorio table-bordered">
        <tr class="table-titulo">
            <th colspan="4">{{ relatorio.culto.titulo|default_if_none:relatorio.evento }}</th>
            <th colspan="2">{{ relatorio.data|date:'d/m/Y' }}</th>
        </tr>
        <tr class="table-light">
            <th colspan="6">Informações Gerais</th>
        </tr>
        <tr class="table-light">
            <th>Hora Início</th>
            <th>Hora Término</th>
            <th colspan="4">Ministro/Pregador</th>
        </tr>
        <tr>
            <td>{{ relatorio.hora_inicio }}</td>
            <td>{{ relatorio.hora_termino }}</td>
            <td colspan="4">{{ relatorio.ministro }}</td>
        </tr>
        <tr class="table-light">
            <th colspan="6">Total de participantes</th>
        </tr>
        <tr class="table-light">
            <th>Total Geral</th>
            <th>Total Mulheres</th>
            <th>Total Homens</th>
            <th>Total Juniores</th>
            <th>Total Jovens</th>
            <th>Total Visitantes</th>
        </tr>
        <tr>
            <td>{{ relatorio.total_pessoas }}</td>
            <td>{{ relatorio.total_mulheres }}</td>
            <td>{{ relatorio.total_homens }}</td>
            <td>{{ relatorio.total_juniores }}</td>
            <td>{{ relatorio.total_jovens }}</td>
            <td>{{ relatorio.total_visitantes }}</td>
        </tr>
        <tr class="table-light">
            <th colspan="6">Dízimos e Ofertas</th>
        </tr>
        <tr class="table-light">
            <th colspan="3">Total Dízimos (R$)</th>
            <th colspan="3">Total Ofertas (R$)</th>
        </tr>
        <tr>
            <td colspan="3">{{ relatorio.total_dizimos }}</td>
            <td colspan="3">{{ relatorio.total_ofertas }}</td>
        </tr>
        <tr class="table-light">
            <th colspan="6">Eventos Especiais</th>
        </tr>
        <tr class="table-light">
            <th colspan="3">Total Novos Convertidos</th>
            <th colspan="3">Total Novos Batizandos</th>
        </tr>
        <tr>
            <td colspan="3">{{ relatorio.total_novos_convertidos }}</td>
            <td colspan="3">{{ relatorio.total_novos_batizandos }}</td>
        </tr>
        <tr class="table-light">
            <th colspan="6">Atividades Realizadas</th>
        </tr>
        <tr class="table-light">
            <th>Louvor e Adoração</th>
            <th>Leitura Bíblica</th>
            <th>Oração Coletiva</th>
            <th>Momentos de Ofertas e Dízimos</th>
            <th>Sermão/Pregação</th>
            <th>Apresentações Artísticas</th>
        </tr>
        <tr>
            <td>{{ relatorio|get_atividade:'Louvor e Adoração'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Leitura Bíblica'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Oração Coletiva'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Momentos de Ofertas e Dízimos'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Sermão/Pregação'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Apresentações Artísticas'|safe }}</td>
        </tr>
        <tr class="table-light">
            <th>Ceia do Senhor</th>
            <th>Batismos</th>
            <th>Testemunho de Membros</th>
            <th>Intercessão</th>
            <th colspan="2">Eventos para Crianças ou Adolescentes</th>
        </tr>
        <tr>
            <td>{{ relatorio|get_atividade:'Ceia do Senhor'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Batismos'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Testemunho de Membros'|safe }}</td>
            <td>{{ relatorio|get_atividade:'Intercessão'|safe }}</td>
            <td colspan="2">{{ relatorio|get_atividade:'Eventos para Crianças ou Adolescentes'|safe }}</td>
        </tr>
        {% if escalas %}
            <tr class="table-light">
                <th colspan="6">Escala de Obreiros</th>
            </tr>
            {% for escala in escalas %}
                {% if escala.data == relatorio.data %}
                    <tr class="table-light">
                        <th colspan="2">Cargo</th>
                        <th colspan="4">Membro</th>
                    </tr>
                    <tr>
                        <td colspan="2">{{ escala.funcao_membro }}</td>
                        <td colspan="4">{{ escala.membro }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </table>
    {% endfor %}
</section>
{% endblock content %}
{% block scripts %}
<script>
    $(function () {
        window.print();
    });
</script>
{% endblock scripts %}
