{% extends "core/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'relatorios/css/relatorio.css' %}">
<link rel="stylesheet" href="{% static 'relatorios/css/relatorio_responsive.css' %}">
{% endblock style %}

{% block dashboard_actions %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<span>Preencha os dados abaixo</span>
<section class="relatorio-form">
    <form method="POST">
        <div>
            {% crispy form %}
        </div>
        <div class="buttons-form">
            <a href="{% url 'relatorio:relatorio_list_view' instituicao.pk %}" class="btn button-outlined" type="button">Cancelar</a>
            <button class="btn button-filled" type="submit">Salvar</button>
        </div>
    </form>
</section>
{% endblock dashboard_content %}
{% block _scripts %}
<script src='{% static "relatorios/js/relatorio.js" %}'></script>
{% endblock _scripts %}