{% extends "core/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'relatorios/css/relatorio.css' %}">
<link rel="stylesheet" href="{% static 'relatorios/css/relatorio_responsive.css' %}">
<style>
    .item-actions{
        margin-top: 0
    }
</style>
{% endblock style %}

{% block dashboard_actions %}
<a role="button" href="{% url 'relatorio:relatorio_create_view' %}" class="btn button-filled button-adicionar gap-2">
    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
</a>
<button data-bs-toggle="modal" data-bs-target="#gerar-relatorio" class="btn button-outlined button-adicionar gap-2">
    <i class="fa-solid fa-print fa-lg"></i> <span>Gerar Relatório</span>
</button>
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="relatorio-section">
    <table class="table-relatorios">
        <thead>
            <tr>
                <th>Data</th>
                <th>Culto/Evento</th>
                <th class="text-center">Total Visitantes</th>
                <th class="text-center">Total Participantes (Geral)</th>
                <th>Ações</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for relatorio in relatorios %}
            <tr>
                <td>{{ relatorio.data }}</td>
                <td>{{ relatorio.culto|default_if_none:relatorio.evento }}</td>
                <td class="text-center">{{ relatorio.total_visitantes }}</td>
                <td class="text-center">{{ relatorio.total_pessoas }}</td>
                <td>
                    <button type="button" onclick="gerarRelatorio({{ relatorio.pk }})" class="btn btn-sm button-filled">
                        <i class="fa-solid fa-print fa-lg"></i>
                    </button>
                </td>
                <td class="text-right">
                    {% include "core/includes/default_item_actions.html" with object=relatorio edit_link='relatorio:relatorio_update_view' delete_link='relatorio:relatorio_delete_view' item_pk=relatorio.pk %}
                </td>
            </tr>
            {% empty %}
            <tr class="text-center">
                <td colspan="6">Não há relatorios gerados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<div class="modal" tabindex="-1" id="gerar-relatorio">
    <div class="modal-dialog modal-dialog-scrollable">
        <form method="GET" action="{% url 'relatorio:imprimir_relatorio' instituicao.pk %}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa-solid fa-print me-1"></i> <b>Gerar Relatório</b>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info">
                        <i class="fa-solid fa-circle-info me-1"></i> Os campos deixados em branco não serão considerados na filtragem.
                    </div>
                    {% crispy filter.form %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn button-filled">Gerar Relatório</button>
                </div>
            </div>
        </form>
    </div>
  </div>
{% endblock dashboard_content %}
{% block _scripts %}
<script src='{% static "relatorios/js/relatorio.js" %}'></script>
<script>
    $('#id_selecionar_todas_atividades').change(function(){
        let selecionar_todas_atividades = $(this).is(':checked')
        if (selecionar_todas_atividades){
            $('[name="atividades"]').prop('checked', true)
        }else{
            $('[name="atividades"]').prop('checked', false)
        }
    })
</script>
{% endblock _scripts %}