.escala-filter{
    margin-top: 1rem;
}
.escala-list, .escala-cards{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.escala-grid{
    display: grid;
    grid-template-columns: 60px 1fr;
    color: inherit;
    flex: 1;
}
.escala-grid:hover{
    color: inherit;
}

.linha-tempo-escala{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.escala-linha{
    margin-top: 10px;
    width: 1px;
    border: .5px dashed var(--gray-2);
    height: 100%;
}

.escala-card{
    border-radius: var(--rounded-pill);
    display: flex;
    height: 50px;
    width: 100%;
    padding: 10px;
    align-items: center;
    background-color: var(--green-transparent);
}

.escala-membros{
    display: flex;
}

.escala-dia{
    text-align: center;
    font-weight: 400;
}
.escala-dia h6:first-child{
    color: var(--aqua-blue);
}

.profile-escala-card{
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    background-color: var(--aqua-blue);
    border: 2px solid var(--body-bg);
}
.profile-escala-card:not(:first-child){
    margin-left: -15px;
}

.profile-escala-mais{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 40px;
    background-color: var(--green);
    margin-left: -15px;
    border: 2px solid var(--body-bg);
}

.escala-card{
    gap: 10px;
    color: var(--green);
}

.escala-card-infos{
    min-height: 50px;
    height: fit-content;
    justify-content: space-between;
}
.escala-card-membro{
    display: flex;
    align-items: center;
    gap: 10px;
}
.escala-card-membro b{
    color: var(--aqua-blue);
}
.escala-card-hora{
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    align-items: center;
}
.escala-card-membro span, .escala-card-hora span{
    color: var(--black-1);
    font-weight: 400;
    line-height: normal;
}

.escala-titulo-filtro{
    color: var(--gray-3);
}
.escala-titulo-filtro b{
    color: var(--aqua-blue);
}
.escala-filter button{
    display: none;
}

.escala-card-seta{
    transition: rotate 200ms ease-in-out;
}
.escala-card[aria-expanded="true"] .escala-card-seta{
    rotate: 180deg
}