{% extends "core/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'contribuicao/css/contribuicao.css' %}">
<link rel="stylesheet" href="{% static 'contribuicao/css/contribuicao_responsive.css' %}">
{% endblock style %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block dashboard_actions %}{% endblock %}

{% block dashboard_content %}

<section class="contribuicao-form-section">
    <form method="POST" enctype="multipart/form-data">
        {% crispy form %}
        <button type="submit" class="btn button-filled w-100">Criar Contribuição</button>
    </form>
    <div>
        <div class="contribuicao-preview">
            <div class="mb-4"><small>Pré-Visualização</small></div>
            <div class='div-preview-contribuicao'>
                {% include "contribuicao/partials/card_contribuicao_deposito.html" %}
                {% include "contribuicao/partials/card_contribuicao_pix.html" %}
            </div>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" id="criar-departamento">
    <div class="modal-dialog modal-dialog-scrollable modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-4 border-0">
                <div>
                    <h4><b>Novo Departamento</b></h4>
                    <small>Preencha os dados abaixo</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    {% crispy departamentos_form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard_content %}

{% block _scripts %}
<script>
    function metodoContribuicao(){
        let metodo = $('#id_metodo').val()
        if (metodo == "pix"){
            $('#div_id_agencia, #div_id_conta, #div_id_banco').css("display", "none")
            $('#div_id_chave_pix').removeAttr("style")

            $('#id_chave_pix').prop('required', true)
            $('#id_agencia, #id_conta, #id_banco').prop('required', false)

            $('.card-contribuicao-pix').removeAttr('style')
            $('.card-contribuicao-deposito').css("display", "none")
        }else if(metodo == 'deposito'){
            $('#div_id_agencia, #div_id_conta, #div_id_banco').removeAttr("style")
            $('#div_id_chave_pix').css("display", "none")

            $('#id_chave_pix').prop('required', false)
            $('#id_agencia, #id_conta, #id_banco').prop('required', true)

            $('.card-contribuicao-deposito').removeAttr('style')
            $('.card-contribuicao-pix').css("display", "none")
        }
    }

    function cardContribuicao(){
        let metodo = $('#id_metodo').val()
        let pix = $('#id_chave_pix').val()
        let agencia = $('#id_agencia').val()
        let conta = $('#id_conta').val()
        let banco = $('#id_banco').val()

        if (metodo == "pix"){
            $('.card-contribuicao-chave').html(pix)
        }else{
            $('.contribuicao-agencia').html(agencia)
            $('.contribuicao-numconta').html(conta)
            $('.contribuicao-banco').html(banco)
        }
    }

    function relacionarDepartamento(){
        let addDepartamento = $('#id_relacionar_departamento').is(':checked')
        if (addDepartamento){
            $('#div_id_departamento').removeAttr('style')
        }else{
            $('#div_id_departamento').css('display', 'none')
        }
    }

    $('#id_relacionar_departamento').change(() => relacionarDepartamento())
    $('#id_metodo').change(() => metodoContribuicao())
    $('input, select').on('input change', () => cardContribuicao())
    
    $(function(){
        metodoContribuicao()
        relacionarDepartamento()
        cardContribuicao()
    })
</script>
{% endblock _scripts %}