{% extends "core/dashboard.html" %}
{% load static %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'agenda/css/agenda.css' %}">
<link rel="stylesheet" href="{% static 'agenda/css/agenda_responsive.css' %}">
<style>
    .item-actions{
        margin-top: auto;
    }
</style>
{% endblock style %}

{% block dashboard_actions %}
{% include "core/includes/default_actions.html" %}
{% if request.user.is_admin %}
<a role="button" href="{% url 'agenda:agendas_create_view' %}" class="btn button-filled button-adicionar gap-2">
    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
</a>
{% endif %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="agendas-section">
    {% for agenda in agendas %}
        <div class="div-items-actions">
            {% include "agenda/partials/card_agenda.html" with agenda=agenda index=forloop.counter %}
            {% if request.user.is_admin %}
                {% include "core/includes/default_item_actions.html" with object=agenda edit_link='agenda:agendas_update_view' delete_link='agenda:agendas_delete_view' item_pk=agenda.pk %}
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endblock dashboard_content %}