{% extends "core/dashboard.html" %}
{% load static %}

{% block app_title %}
Agenda Semanal
{% endblock app_title %}

{% block dashboard_actions %}
<div class="search-input">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input class="form-primary" type="text" placeholder="Pesquisar">
</div>
<button type="button" class="button button-filled-tonal">
    <i class="fa-solid fa-filter fa-2xl"></i>
</button>
<a href="{% url 'agenda:agendas_create_view' %}" class="button button-filled">
    <i class="fa-solid fa-plus me-3"></i> Adicionar
</a>
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section>

</section>
{% endblock dashboard_content %}