{% extends "core/dashboard.html" %}
{% load static %}

{% block app_title %}
Agenda Semanal
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'agenda/css/agenda.css' %}">
<link rel="stylesheet" href="{% static 'agenda/css/agenda_responsive.css' %}">
{% endblock style %}

{% block dashboard_actions %}
{% include "core/includes/default_actions.html" with create_link='agenda:agendas_create_view' %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="agendas-section">
    {% for agenda in agendas %}
        <div class="d-flex justify-content-between gap-2 align-items-center">
            {% include "agenda/partials/card_agenda.html" with agenda=agenda index=forloop.counter %}
            {% if request.user.is_admin %}
                {% include "core/includes/default_item_actions.html" with edit_link='agenda:agendas_update_view' delete_link='agenda:agendas_delete_view' item_pk=agenda.pk %}
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endblock dashboard_content %}