{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ixoye Connect{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'public/img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'public/img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public/img/favicon/favicon-16x16.png' %}">
    <link rel="android-chrome" type="image/png" sizes="192x192" href="{% static 'public/img/favicon/android-chrome-192x192.png' %}">
    <link rel="android-chrome" type="image/png" sizes="512x512" href="{% static 'public/img/favicon/android-chrome-512x512.png' %}">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- Font awesome -->
    <link href="{% static 'public/fonts/fontawesome/css/fontawesome.css' %}" rel="stylesheet" />
    <link href="{% static 'public/fonts/fontawesome/css/brands.css' %}" rel="stylesheet" />
    <link href="{% static 'public/fonts/fontawesome/css/solid.css' %}" rel="stylesheet" />

    <!-- Bootstrap -->
    <link href="{% static 'public/libs/bootstrap/css/bootstrap-grid.min.css' %}" rel="stylesheet" />
    <link href="{% static 'public/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.min.css" integrity="sha512-K1k7jSn9RDKEcn/ugqVVvWYu0bcS3q1w6m/5pQSnrj0bCfIqF6Wk49lkmckSb4wglvTP9V17LtS0q0XxYccXbg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'public/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'public/css/responsive.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    {% include "partials/_navbar.html" %}
    {% block content %}{% endblock content %}
    {% include "partials/_footer.html" %}

    <!-- Scripts -->
    <script src="{% static 'public/libs/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'public/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'public/js/jquery.min.js' %}"></script>
    <script src="{% static 'public/js/jquery.mask.js' %}"></script>
    <script src="{% static 'public/js/pagination.min.js' %}"></script>
    {% block scripts %}{% endblock scripts %}
</body>
</html>