{% extends "usuario/base/profile_base.html" %}
{% load static %}

{% block profile_content %}
<section class="profile-infos">
    <div class="profile-generic-infos">
        {% if membro.foto %}
        <img class="user-profile" src="{% if membro.foto %}{{ membro.foto.url }}{% endif %}" alt="">
        {% else %}
        <div class="user-profile"><i class='fa-solid fa-user fa-lg'></i></div>
        {% endif %}
        <div class="profile-name">
            <h5><b>{{ membro.nome }}</b></h5>
            <h6>{{ membro.user.username }}</h6>
        </div>
    </div>
    <div class="text-end">
        <a class="btn button-outlined" href="{% url 'usuario:membro_update_profile_view' membro.pk %}">Editar Dados</a>
    </div>
    <div class="profile-informacoes">
        <div>
            <h5><b>Informações Pessoais</b></h5>
        </div>
        <div class="profile-informacoes-grid">
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>Nome</b></h6>
                <span class="profile-infos-text">{{ membro.nome }}</span>
            </div>
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>Celular</b></h6>
                <span class="profile-infos-text">{{ membro.celular }}</span>
            </div>
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>E-mail</b></h6>
                <span class="profile-infos-text">{{ membro.user.email }}</span>
            </div>
        </div>
    </div>
    <div class="profile-informacoes">
        <div>
            <h5><b>Endereço</b></h5>
        </div>
        <div class="profile-informacoes-grid">
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>Unidade Federativa</b></h5>
                <span class="profile-infos-text">{{ membro.endereco.uf }}</span>
            </div>
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>Cidade</b></h6>
                <span class="profile-infos-text">{{ membro.endereco.cidade }}</span>
            </div>
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>Bairro</b></h6>
                <span class="profile-infos-text">{{ membro.endereco.bairro }}</span>
            </div>
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>Logradouro</b></h6>
                <span class="profile-infos-text">{{ membro.endereco.rua }} - {{ membro.endereco.numero }}</span>
            </div>
            {% if membro.endereco.complemento %}
            <div class="profile-infos-div">
                <h6 class="profile-infos-title"><b>Logradouro</b></h6>
                <span class="profile-infos-text">{{ membro.endereco.complemento }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock profile_content %}