{% extends "core/dashboard.html" %}
{% load static %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'usuario/css/membro.css' %}">
<link rel="stylesheet" href="{% static 'usuario/css/membro_responsive.css' %}">
<style>
    .item-actions{
        margin-top: auto;
        margin-left: auto;
    }
    .dashboard-content{
        padding-top: 0;
    }
</style>
{% endblock style %}

{% block dashboard_actions %}
{% include "core/includes/default_actions.html" %}
{% if request.user.is_admin %}
<a role="button" href="{% url 'usuario:membro_create_view' %}" class="btn button-filled button-adicionar gap-2">
    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
</a>
{% endif %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="membro-section">
    <table class="table-membros">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th class="text-center">Idade</th>
                <th class="text-center">Membro há</th>
                <th>Celular</th>
                <th>Aniversário</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for membro in membro %}
            <tr>
                <td>
                    {% if membro.foto %}
                    <img src="{% if membro.foto %}{{ membro.foto.url }}{% endif %}" class="membro-foto-table"></img>
                    {% else %}
                    <div class="user-profile"><h2>{{ membro.nome.0 }}</h2></div>
                    {% endif %}
                </td>
                <td>
                    {{ membro.nome }}
                    <div data-bs-trigger="popover" data-bs-trigger="hover focus" data-bs-content="{{ membro.get_funcoes }}" style="width: 250px;" class="text-muted text-truncate">
                        {{ membro.get_funcoes }}
                    </div>
                </td>
                <td class="text-center">{{ membro.idade }}</td>
                <td class="text-center">{{ membro.membro_ha }}</td>
                <td>{{ membro.celular }}</td>
                <td>{{ membro.data_nascimento|date:"d" }} de {{ membro.data_nascimento|date:"F" }}</td>
                <td class="text-right">
                    {% if request.user.is_admin %}
                        {% include "core/includes/default_item_actions.html" with object=membro edit_link='usuario:membro_update_view' delete_link='usuario:membro_delete_view' item_pk=membro.pk %}
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr class="text-center">
                <td colspan="6">Ainda não há membros vinculados a sua Igreja.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock dashboard_content %}