{% load icone_notificacao %}
<a class="notificacao-card mb-2" {% if not notificacao.lida %}onclick="lerNotificacao('{{ notificacao.pk }}')"{% endif %} href="{{ notificacao.link|default:"#" }}">
    <div class="notificacao-icone-div">
        <div id="lido-{{ notificacao.pk }}" class="notificacao-nao-lida {% if notificacao.lida %}d-none{% endif %}"><i class="fa-solid fa-circle"></i></div>
        <div class="notificacao-icone"><i class="fa-solid {{ notificacao.modulo|icone_notificacao }}"></i></div>
    </div>
    <div>
        <div class="notificacao-mensagem">{{ notificacao.mensagem }}</div>
        <div class="notificacao-data">
            {% if notificacao.data.date == hoje %}
                {{ notificacao.data|time:"H:i" }}
            {% else %}
                {{ notificacao.data|date:"d/m/Y H:i" }}
            {% endif %}
        </div>
    </div>
</a>