{% extends "core/dashboard.html" %}
{% load static %}
{% load icone_notificacao %}

{% block title %}
{{ titulo }}
{% endblock title %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'notificacao/css/notificacao.css' %}">
<link rel="stylesheet" href="{% static 'notificacao/css/notificacao_responsive.css' %}">
<style>
    .item-actions{
        margin-top: auto;
    }
</style>
{% endblock style %}

{% block dashboard_actions %}
{% include "core/includes/default_actions.html" %}
<form action="{% url 'notificacao:ler_todas_notificacoes' request.user.pk %}">
    <button type="submit" class="btn button-filled button-adicionar gap-2">
        <i class="fa-solid fa-check-double"></i> <span>Marcar tudo como lido</span>
    </button>
</form>
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="notificacoes-section">
    {% if nao_lidas|length == 0 %}
    <h5 class="notificacoes-total">Você não possui novas notificações.</h5>
    {% else %}
    <h5 class="notificacoes-total">Você possui <span class="quant-nao-lidas">{{ nao_lidas|length }} novas notificações.</span></h5>
    {% endif %}
    {% regroup notificacoes by data|date:"j \d\e F \d\e Y" as notificacoes_list %}
    {% for notif_data in notificacoes_list %}
        <div class="mb-2">
            {% if notif_data.grouper == hoje|date:"j \d\e F \d\e Y" %}
            <h6 class="text-muted mb-3">Hoje</h6>
            {% elif notif_data.grouper == ontem|date:"j \d\e F \d\e Y"%}
            <h6 class="text-muted mb-3">Ontem</h6>
            {% else %}
            <h6 class="text-muted mb-3">{{ notif_data.grouper }}</h6>
            {% endif %}
            {% for notificacao in notif_data.list %}
                {% include "notificacao/partials/notificacao_card.html" with notificacao=notificacao %}
            {% endfor %}
        </div>
    {% endfor %}
</section>
{% endblock dashboard_content %}

{% block _scripts %}
<script>
    
</script>
{% endblock _scripts %}