{% extends "core/dashboard.html" %}
{% load static %}

{% block app_title %}
{{ titulo|default:"Posts" }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
{% endblock style %}

{% block dashboard_actions %}
{% include "core/includes/default_actions.html" with link_list='posts:conteudo_list_view' %}
{% if request.user.is_admin %}
<a role="button" href="{% url 'posts:conteudo_create_view' tipo instituicao.pk %}" class="btn button-filled button-adicionar gap-2">
    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
</a>
{% endif %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="posts-section">
    {% for post in object_list %}
    <div class="div-items-actions">
        {% include "posts/partials/card_post.html" with post=post %}
        {% if request.user.is_admin %}
            {% include "core/includes/default_item_actions.html" with object=post edit_link='posts:conteudo_update_view' delete_link='posts:conteudo_delete_view' item_pk=post.pk %}
        {% endif %}
    </div>
    {% endfor %}
</section>
{% endblock dashboard_content %}