{% extends "core/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load file_ext %}
{% load icons_arquivos %}

{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/posts.css' %}">
<style>
    .card-post{
        width: 230px
    }
    @media (max-width: 768px) {
        .card-post{
            width: 100%
        }
    }
</style>
{% endblock style %}

{% block app_title %}
{{ titulo|default:"Criar post" }}
{% endblock app_title %}

{% block dashboard_actions %}
{% endblock dashboard_actions %}

{% block dashboard_content %}

<section class="form-posts">
    <form method="POST" enctype="multipart/form-data">
        {% if object and object.capa %}
            {% include "core/includes/foto_preview.html" with img_src=object.capa.url  %}
        {% else %}
            {% include "core/includes/foto_preview.html"  %}
        {% endif %}

        {% crispy form %}
        
        <div id="lista_arquivos_post" class="mb-3">
            {{ arquivos_formset.management_form }}
            
            {% if object %}
            <div id="div_arquivospost">
                {% for arquivo in object.arquivos.all %}   
                    <div id="id_arquivo_{{ forloop.counter0 }}" class="arquivopost_card">
                        <div class="arquivopost_body">
                            <i class="fa-solid {{ arquivo.arquivo|file_ext|icons_arquivos }}"></i>
                            <span class="arquivopost_nome">
                                {{ arquivo }}
                            </span>
                        </div>
                        <div><i role="button" class="fa-solid fa-xmark fa-lg" onclick="remover_arquivo({{ forloop.counter0 }}, {{ arquivo.id }})"></i></div>
                    </div>
                {% endfor %}
                <div id="arquivo_{{ quant_arquivos }}">
                    <input type="file" name="form-{{ quant_arquivos }}-arquivo" id="adicionar_arquivo_{{ quant_arquivos }}" hidden>
                </div>
            </div>
            <label for="adicionar_arquivo_{{ quant_arquivos }}" class="btn button-outlined button-upload">Anexar arquivo</label>
            {% else %}
            <div id="div_arquivospost">
                <div id="arquivo_0">
                    <input type="file" name="form-0-arquivo" id="adicionar_arquivo_0" hidden>
                </div>
            </div>
            <label for="adicionar_arquivo_0" class="btn button-outlined button-upload">Anexar arquivo</label>
            {% endif %}
        </div>
        <div id="arquivos-a-excluir"></div>
        <button type="submit" class="btn button-filled w-100">Postar</button>
    </form>
    <div>
        <div class="post-preview">
            <div class="mb-4"><small>Pré-Visualização</small></div>
            {% include "posts/partials/card_post.html" with post=object %}
        </div>
    </div>
</section>
{% endblock dashboard_content %}

{% block _scripts %}
<script>
    var arquivo_index = 0;
    {% if object %}
    var arquivo_index = parseInt('{{ quant_arquivos }}')
    {% endif %}
</script>
<script src="{% static 'posts/js/arquivospost.js' %}"></script>
<script>
    $('#id_capa').change(() => fotoPreview('id_capa'));
    $('#foto-preview-div').click(() => $('#id_capa').trigger('click'));
    const usuario = '{{ request.user.conta.nome }}';

    function cardPost(){
        let hoje = new Date();
        hoje = hoje.toLocaleDateString();

        let titulo = $('#id_titulo').val();
        let descricao = editors.id_descricao.getData();
        let fixado = $('#id_fixado').is(':checked');
        fotoPreview('id_capa', '.card-post-capa');

        if (titulo) $('.card-post-titulo').html(titulo)
        if (descricao) $('.card-post-descricao').html(descricao);
        if (hoje || usuario) $('.card-post-info').html(`${hoje} - ${usuario}`)
        fixado ? $('.card-post-fixado').removeClass("d-none") : $('.card-post-fixado').addClass("d-none")
    }

    $('input').on('change input', () => cardPost())
    $(function(){
        editors.id_descricao.model.document.on('change:data', () => cardPost())
    })
</script>
{% endblock _scripts %}