<a href="{% if post %} {% url 'posts:conteudo_detail_view' post.pk %}{% else %}#{% endif %}" class="card-post {% if post and not post.capa %}card-post-sem-capa{% endif %}">
    {% if post and post.capa or not post %}<img src="{{ post.capa.url }}" class="card-post-capa" alt="">{% endif %}
    <div class="post-body">
        <h5 class="card-post-titulo">
            {{ post.titulo|default:"-----" }}
        </h5>
        <span class="card-post-descricao">
            {{ post.descricao|safe|default:"-----" }}
        </span>
        <small class="card-post-info">
            {% if post %}
            {{ post.data|date:"d/m/Y" }} às {{ post.hora|default:"--:--" }} - {{ request.user.conta.nome }}
            {% else %}
            {% now 'd/m/Y' %} - {{ request.user.conta.nome }}
            {% endif %}
        </small>
    </div>
</a>