.agenda-form-section{
    /* margin-top: 20px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
@media (min-width: 769px) {
    .agenda-form-section > div:first-child{
        overflow-y: scroll;
        height: calc(100vh - 180px);
        overflow-x: hidden;
    }
}

.agenda-preview{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    padding: 20px;
}
.card-agenda{
    border-radius: 30px;
    background-color: var(--gray-1);
    border: none;
    width: 100%;
    padding: 0;
    height: fit-content;
}
.card-agenda .fa-chevron-down{
    transition: rotate 200ms ease-in-out;
}
.card-agenda[aria-expanded="true"] .fa-chevron-down{
    rotate: 180deg;
}
.agenda-collapse{
    padding-right: 10px;
}
.card-agenda-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
}
.card-agenda-infos{
    display: flex;
    gap: 20px;
    align-items: center;
}
.div-icone-agenda{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--green);
    color: var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.div-icone-agenda i{
    font-size: 1.4rem;
    line-height: normal;
}
.dia-hora-agenda{
    font-size: 1rem;
    text-align: start;
}
.titulo-agenda{
    font-size: 1.25rem;
    text-align: start;
}
.agenda-collapse i {
    color: var(--gray-2);
}

.descricao-agenda{
    padding: 15px;
    text-align: start;
}
.show .descricao-agenda{
    border-top: 1px solid var(--gray-2) ;
}

.agendas-section{
    /* margin-top: 20px; */
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: baseline;
}

.icones-agenda-modal{
    display: grid;
    grid-template-columns: 2.5em 1fr;
    align-items: center;
    margin-bottom: 1rem;
}
/* #div_id_icone_mb{
    display: none;
} */