<div class="mb-3 d-flex gap-2">
  <div id="div_{{ field.id_for_label }}" class="form-floating w-100">
      <select name="{{ field.html_name  }}" id="{{ field.id_for_label }}" class="form-primary select form-select" required>
          {% for choice in field.field.choices %}
            <option value="{{ choice.0 }}">
                  {{ choice.1 }}
            </option>
          {% endfor %}
      </select>
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
  </div>
  <button type="button" class="btn button-filled" data-bs-target="#criar-denominacao" data-bs-toggle="modal"><i class="fa-solid fa-plus fa-lg"></i></button>
</div>
