{% extends "core/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'escala/css/escala.css' %}">
<link rel="stylesheet" href="{% static 'escala/css/escala_responsive.css' %}">
<style>
    .item-actions{
        margin-top: auto;
    }
</style>
{% endblock style %}

{% block dashboard_actions %}
{% if request.user.is_admin %}
<button data-bs-toggle="modal" data-bs-target="#solicitacoes-troca" class="btn button-outlined button-adicionar gap-2">
    <i class="fa-solid fa-arrow-right-arrow-left"></i> <span>Solicitações de troca</span>
</button>
<button data-bs-toggle="modal" data-bs-target="#criar-escala" class="btn button-filled button-adicionar gap-2">
    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
</button>
{% endif %}
{% endblock dashboard_actions %}

{% block dashboard_alerts %}
{% if usuario.proxima_escala.data == hoje and usuario.proxima_escala.status.id == 2 %}
    <div class="div-confirmar-escala">
        <div class="div-confirmar-escala-titulo">
            <i class="fa-solid fa-exclamation-triangle fa-2xl"></i>
            <h6>
                Você possui uma escala para <b>hoje às {{ usuario.proxima_escala.hora }}: {{ usuario.proxima_escala.funcao_membro }}</b>. Deseja confirmar?
            </h6>
        </div>
        <div class="d-flex gap-1 justify-content-end">
            <form method="get" action="{% url 'escala:confirmar_escala' usuario.proxima_escala.pk %}">
                <button class="btn text-primary" type="submit">Sim, Confirmar</button>
            </form>
            <button class="btn text-danger" type="button" data-bs-toggle="modal" data-bs-target="#solicitar-troca">Não, Solicitar troca</button>
        </div>
    </div>
{% endif %}
{% endblock dashboard_alerts %}

{% block dashboard_content %}
<section class="escala-section">
    <form method="get">
        <div>
            <section class="escala-filter">
                {% crispy filter.form %}
                {% if request.user.is_admin %}
                <button type="button" data-bs-toggle="modal" data-bs-target="#criar-escala" class="btn button-filled button-adicionar gap-2">
                    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
                </button>
                {% endif %}
            </section>
            <section class="mb-3">
                {% if filtrado_para %}
                <span class="escala-titulo-filtro">Escalados para <b>{{ filtrado_para }}</b>.</span>
                {% else %}
                <span class="escala-titulo-filtro">Escalados para <b>todos os departamentos.</b></span>
                {% endif %}
            </section>

            {% if escalas_porvir %}
            <h5 class="titulo-escala-porvir">Escalas por vir</h5>
            <section class="escala-list">
                {% regroup escalas_porvir by data as escalas_porvir_list %}
                {% for escalas in escalas_porvir_list %}
                    {% include "escala/partials/card_escala.html" with counter=forloop.counter filtrado_para=filtrado_para escalas=escalas.list data=escalas.grouper %}
                {% empty %}
                <div class="text-muted text-center">
                    Ainda não há nenhuma escala definida.
                </div>
                {% endfor %}
            </section>
            {% endif %}
            {% if escalas_passadas %}
            <h5 class="titulo-escala-passados">Escalas anteriores</h5>
            <section class="escala-list">
                {% regroup escalas_passadas by data as escalas_passadas_list %}
                {% for escalas in escalas_passadas_list %}
                    {% with escalas_anteriores_loop=forloop.counter|add:escalas_porvir.count %}
                    {% include "escala/partials/card_escala.html" with counter=escalas_anteriores_loop filtrado_para=filtrado_para escalas=escalas.list data=escalas.grouper %}
                    {% endwith %}
                {% empty %}
                <div class="text-muted text-center">
                    Ainda não há nenhuma escala definida.
                </div>
                {% endfor %}
            </section>
            {% endif %}
        </div>
    </form>
</section>
{% if request.user.is_admin %}
<div class="modal fade" tabindex="-1" id="criar-escala">
    <div class="modal-dialog modal-dialog-scrollable modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-4 border-0">
                <div>
                    <h4 class="modal-title-criar"><b>Nova Escala</b></h4>
                    <small>Preencha os dados abaixo</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="criar-escala">
    <div class="modal-dialog modal-dialog-scrollable modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-4 border-0">
                <div>
                    <h4 class="modal-title-criar"><b>Nova Escala</b></h4>
                    <small>Preencha os dados abaixo</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for solicitacao in trocas_solicitadas %}
                <div class="div-solicitacao-troca">
                    <div>
                        {{ solicitacao }}
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <button type="submit" name="acao_solicitacao" value="1">Negar</button>
                        <button type="submit" name="acao_solicitacao" value="">Aceitar</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if usuario.proxima_escala.all %}
<div class="modal fade" tabindex="-1" id="solicitar-troca">
    <div class="modal-dialog modal-dialog-scrollable modal-sm modal-dialog-centered">
        <form method="GET" action="{% url 'escala:solicitar_troca_escala' usuario.proxima_escala.pk %}">
            <div class="modal-content">
                <div class="modal-header p-4 border-0">
                    <div>
                        <h4 class="modal-title-criar"><b>Solicitar troca de escala</b></h4>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você deseja prosseguir com a troca de escala? Após confirmar, será necessário aguardar a instituição validar a sua solicitação.
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-seconday">
                        Cancelar
                    </button>
                    <button type="submit" class="btn button-filled">
                        Solicitar troca
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock dashboard_content %}

{% block _scripts %}
<script>
    const funcoes_por_membros_url = '{% url "escala:funcoes_por_membro" %}'

    $('#id_escala-membro').change(function(){
        let membro = $(this).val()
        $.ajax({
            url: funcoes_por_membros_url,
            type: 'GET',
            data: {membro: membro},
            beforeSend: function(){
                $('#id_escala-funcao_membro').children('option').remove()
            },
            success:function(resposta){
                $('#id_escala-funcao_membro').append(
                    `<option value="" disabled>---------</option>`
                )
                for(let i=0; i < resposta.funcao.length; i++){
                    $('#id_escala-funcao_membro').append(
                        `<option value="${resposta.id[i]}">${resposta.funcao[i]}</option>`
                    )
                }
            },
            error: function(e){
                console.log(e)
            }
        })
    })

    $('.escala-cards').on('show.bs.collapse', function(){
        $(this).find('.escala-card-expandir').html('Clique para recolher')
    })
    $('.escala-cards').on('hide.bs.collapse', function(){
        $(this).find('.escala-card-expandir').html('Clique para expandir')
    })
    
    const load_infos_edit = '{% url "escala:carregar_infos_editar" %}'

    $(function(){
        $('.item-actions').each(function () {
            $(this).popover('dispose');

            $(this).popover({
                html: true,
                content: `
                    <div class="item-actions-popover">
                        <a class="item-edit-link" role="button" data-id="${$(this).data('id')}" data-editlink="${$(this).data('editlink')}" data-bs-toggle="modal" href="#" data-bs-target="#criar-escala"><i class="fa-solid fa-pen-to-square"></i> <span>Editar</span> </a>
                        <a class="item-delete-link" role="button" data-object="${$(this).data('object')}" data-deletelink="${$(this).data('deletelink')}" data-bs-toggle="modal" href="#" data-bs-target="#delete-modal"><i class="fa-solid fa-trash-can text-danger"></i> <span>Excluir</span> </a>
                    </div>
                `,
                placement: 'left',
                trigger: 'blur',
                allowList: {
                    a: ['class', 'href', 'role', 'data-id', 'data-object', 'data-editlink', 'data-deletelink', 'data-bs-toggle', 'data-bs-target'],
                    i: ['class'],
                    div: ['class'],
                    span: []
                }

            })
        });
    })
    
    const criar_escala_link = $('#criar-escala').find('form').prop('action');
    $('#criar-escala').on('show.bs.modal', function(event){
        const btn = $(event.relatedTarget)
        if (btn.data('editlink')){
            let pk = btn.data('id')
            $('.modal-title-criar').html('<b>Editar Escala</b>')
            $.ajax({
                url: load_infos_edit,
                type: 'GET',
                data: {escala_id: pk},
                success:function(resposta){
                    let data = new Date(resposta.data+'T00:00')
                    data = data.toLocaleDateString()

                    const modal_Form = $('#criar-escala').find('form')
                    const edit_link = btn.data("editlink")
                    modal_Form.prop('action', edit_link)

                    modal_Form.find('#id_escala-membro').val(resposta.membro_id)
                    $('#id_escala-membro').trigger('change')
                    modal_Form.find('#id_escala-funcao_membro').val(resposta.funcao_membro_id)
                    modal_Form.find('#id_escala-data').val(data)
                    modal_Form.find('#id_escala-hora').val(resposta.hora)
                }
            })
       }
    })

    $('#criar-escala').on('hide.bs.modal', function(){
        $('#criar-escala').find('form').prop('action', criar_escala_link)
        $('.modal-title-criar').html('<b>Nova Escala</b>')
        $('#criar-escala').find('input, select').not('[name="csrfmiddlewaretoken"], #id_escala-instituicao, [type="submit"]').val('')
    })
</script>
{% endblock _scripts %}