{% extends "core/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'escala/css/escala.css' %}">
<link rel="stylesheet" href="{% static 'escala/css/escala_responsive.css' %}">
<style>
    .item-actions{
        margin-top: auto;
    }
</style>
{% endblock style %}

{% block dashboard_actions %}
{% include "core/includes/default_actions.html" %}
{% if request.user.is_admin %}
<button data-bs-toggle="modal" data-bs-target="#criar-escala" class="btn button-filled button-adicionar gap-2">
    <i class="fa-solid fa-plus"></i> <span>Adicionar</span>
</button>
{% endif %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="escala-section">
    <form method="get">
        <div>
            {% if escalas_porvir %}
            <h5 class="titulo-escala-porvir">Escalas por vir</h5>
            <section class="escala-list">
                {% regroup escalas_porvir by data as escalas_porvir_list %}
                {% for escalas in escalas_porvir_list %}
                    {% include "escala/partials/card_escala.html" with counter=forloop.counter filtrado_para=filtrado_para escalas=escalas.list data=escalas.grouper %}
                {% endfor %}
            </section>
            {% else %}
                {% if request.GET %}
                <div class="text-muted text-center">
                    Nenhuma escala encontrada para esta consulta.
                </div>
                {% else %}
                {% if not escalas_passadas %}
                <div class="text-muted text-center">
                    Ainda não há nenhuma escala definida.
                </div>
                {% endif %}
                {% endif %}
            {% endif %}
            {% if escalas_passadas %}
            <h5 class="titulo-escala-passados">Escalas anteriores</h5>
            <section class="escala-list">
                {% regroup escalas_passadas by data as escalas_passadas_list %}
                {% for escalas in escalas_passadas_list %}
                    {% with escalas_anteriores_loop=forloop.counter|add:escalas_porvir.count %}
                    {% include "escala/partials/card_escala.html" with counter=escalas_anteriores_loop filtrado_para=filtrado_para escalas=escalas.list data=escalas.grouper %}
                    {% endwith %}
                {% endfor %}
            </section>
            {% endif %}
        </div>
    </form>
</section>
{% if request.user.is_admin %}
<div class="modal fade" tabindex="-1" id="criar-escala">
    <div class="modal-dialog modal-dialog-scrollable modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-4 border-0">
                <div>
                    <h4 class="modal-title-criar"><b>Nova Escala</b></h4>
                    <small>Preencha os dados abaixo</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock dashboard_content %}

{% block _scripts %}
<script>
    const funcoes_por_membros_url = '{% url "escala:funcoes_por_membro" %}'

    $('#id_escala-membro').change(function(){
        let membro = $(this).val()
        $.ajax({
            url: funcoes_por_membros_url,
            type: 'GET',
            data: {membro: membro},
            beforeSend: function(){
                $('#id_escala-funcao_membro').children('option').remove()
            },
            success:function(resposta){
                $('#id_escala-funcao_membro').append(
                    `<option value="" disabled>---------</option>`
                )
                for(let i=0; i < resposta.funcao.length; i++){
                    $('#id_escala-funcao_membro').append(
                        `<option value="${resposta.id[i]}">${resposta.funcao[i]}</option>`
                    )
                }
            },
            error: function(e){
                console.log(e)
            }
        })
    })

    $('.escala-cards').on('show.bs.collapse', function(){
        $(this).find('.escala-card-expandir').html('Clique para recolher')
    })
    $('.escala-cards').on('hide.bs.collapse', function(){
        $(this).find('.escala-card-expandir').html('Clique para expandir')
    })
    
    const load_infos_edit = '{% url "escala:carregar_infos_editar" %}'

    $(function(){
        $('.item-actions').each(function () {
            $(this).popover('dispose');

            $(this).popover({
                html: true,
                content: `
                    <div class="item-actions-popover">
                        <a class="item-edit-link" role="button" data-id="${$(this).data('id')}" data-editlink="${$(this).data('editlink')}" data-bs-toggle="modal" href="#" data-bs-target="#criar-escala"><i class="fa-solid fa-pen-to-square"></i> <span>Editar</span> </a>
                        <a class="item-delete-link" role="button" data-object="${$(this).data('object')}" data-deletelink="${$(this).data('deletelink')}" data-bs-toggle="modal" href="#" data-bs-target="#delete-modal"><i class="fa-solid fa-trash-can text-danger"></i> <span>Excluir</span> </a>
                    </div>
                `,
                placement: 'left',
                trigger: 'blur',
                allowList: {
                    a: ['class', 'href', 'role', 'data-id', 'data-object', 'data-editlink', 'data-deletelink', 'data-bs-toggle', 'data-bs-target'],
                    i: ['class'],
                    div: ['class'],
                    span: []
                }

            })
        });
    })
    
    const criar_escala_link = $('#criar-escala').find('form').prop('action');
    $('#criar-escala').on('show.bs.modal', function(event){
        const btn = $(event.relatedTarget)
        if (btn.data('editlink')){
            let pk = btn.data('id')
            $('.modal-title-criar').html('<b>Editar Escala</b>')
            $.ajax({
                url: load_infos_edit,
                type: 'GET',
                data: {escala_id: pk},
                success:function(resposta){
                    let data = new Date(resposta.data+'T00:00')
                    data = data.toLocaleDateString()

                    const modal_Form = $('#criar-escala').find('form')
                    const edit_link = btn.data("editlink")
                    modal_Form.prop('action', edit_link)

                    modal_Form.find('#id_escala-membro').val(resposta.membro_id)
                    $('#id_escala-membro').trigger('change')
                    modal_Form.find('#id_escala-funcao_membro').val(resposta.funcao_membro_id)
                    modal_Form.find('#id_escala-data').val(data)
                    modal_Form.find('#id_escala-hora').val(resposta.hora)
                }
            })
       }
    })

    $('#criar-escala').on('hide.bs.modal', function(){
        $('#criar-escala').find('form').prop('action', criar_escala_link)
        $('.modal-title-criar').html('<b>Nova Escala</b>')
        $('#criar-escala').find('input, select').not('[name="csrfmiddlewaretoken"], #id_escala-instituicao, [type="submit"]').val('')
    })

    function confirmarTrocaEscala(id){
        if($(`#selecionar-membro-${id}`).hasClass('show')){
            $(`#form-solicitacao-${id}`).submit()
        }else{
            $(`#selecionar-membro-${id}`).collapse('show')
        }
    }
</script>
{% endblock _scripts %}