@media (max-width: 768px){
    .dashboard-content{
        padding-inline: 5%;
        padding-bottom: 8rem;
        height: unset;
    }
    .dashboard-sidecontent{
        background-color: var(--gray-1) !important;
    }
    .darkmode .dashboard-sidecontent{
        background-color: var(--body-bg) !important;
    }
    .card-proxima-programacao{
        border-radius: var(--rounded-pill);
    }
    .card-membro-ha{
        display: none;
    }
    .dashboard-card{
        margin-top: 0;
        /* background-color: var(--body-bg) !important; */
        box-shadow: none;
    }
    .darkmode .notificacao-card{
        background-color: var(--gray-1) !important;
    }
    .darkmode .card-dashboard{
        background-color: var(--gray-1) !important;
    }
    .dashboard-cards, .dashboard-membros-cards{
        grid-template-areas: unset;
        grid-template-columns: unset;
    }
    .card-dashboard{
        grid-area: unset !important;
    }
    .card-eventos-dashboard, .card-atividades-dashboard, .card-dashboard-post, .card-notificacoes,
    .darkmode .card-eventos-dashboard, .darkmode .card-atividades-dashboard, .darkmode .card-dashboard-post, .darkmode .card-notificacoes{
        background: none !important;
        padding: 0;
        box-shadow: none;
    }
    .darkmode .dashboard-atividade-card, .darkmode .escala-card{
        background-color: var(--gray-1);
    }
    .evento-capa{
        width: 100%;
    }
    .dashboard-notificacoes-list, .dashboard-escalas, .programacoes-list{
        height: unset;
        
    }
    .dashboard-escalas, .programacoes-list{
        padding-bottom: 20px;
    }
    .dashboard-atividade-card, .escala-card{
        background-color: var(--body-bg);
        border-color: var(--body-bg);
    }
}