.main-dashboard{
    padding-right: 0;
}
.top-nav{
    padding-right: 15px;
}
.dashboard-card{
    background-color: transparent;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 20px;
    border-radius: 0;
}
.introducao-dashboard{
    margin-bottom: 1rem;
    color: var(--aqua-blue);
}
.dashboard-content{
    padding-inline: 0;
    height: calc(100vh - 90px);
    padding-top: 0;
}
.dashboard-instituicao{
    display: grid;
    row-gap: 20px;
}
.dashboard-cards{
    display: grid;
    grid-template-areas: "a b c d" "e e e f" "g g h h";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}
.dashboard-membros-cards{
    display: grid;
    grid-template-areas: "a a a b" "c c d d" "e e e e";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 20px;
}
.card-dashboard{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border-radius: 20px;
    background-color: var(--body-bg);
    padding: 20px;
    min-width: 240px;
    box-shadow: rgba(99, 99, 99, 0.055) 0px 0px 5px 0px;
}
.darkmode .card-dashboard{
    color: white;
}
.card-quantidade-membros{
    grid-area: a;
    background-image: linear-gradient(to left, var(--green), var(--aqua-blue));
}
.card-media-presenca{
    grid-area: b;
}
.card-dizimos{
    grid-area: c;
}
.card-ofertas{
    grid-area: d;
}
.card-dashboard h2{
    font-weight: 400;
    color: var(--green);
}
.porcentagem.negativo{
    color: brown;
}
.porcentagem.negativo i{
    rotate: 180deg;
}
.porcentagem.positivo{
    color: var(--green);
}

.dashboard-first-chart{
    grid-area: e;
}
.dashboard-second-chart{
    grid-area: f;
}
.card-dashboard-escala{
    grid-area: g;
    padding-bottom: 0;
}
.dashboard-escalas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 200px;
    overflow-y: scroll;
}
.dashboard-escalas::-webkit-scrollbar{
    display: none;
}
.escala-card{
    border-radius: var(--rounded-pill);
    padding: 10px;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    border: 1px solid var(--gray-1);
}
.dashboard-escalas hr{
    margin: 0;
}
.card-programacao-hoje{
    grid-area: h;
}
.programacoes-list{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 200px;
    overflow-y: scroll;
}
.programacoes-list::-webkit-scrollbar{
    display: none;
}
.card-proxima-programacao{
    background-image: linear-gradient(to left, var(--green), var(--aqua-blue));
    color: white !important;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}
.card-proxima-programacao:hover{
    color: white;
}
.programacao-icone{
    font-size: 4rem;
    opacity: 0.66;
}
.dashboard-items-section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.dashboard-items-section h6 a{
    color: var(--gray-2);
}
.card-evento, .card-post-dashboard{
    border: 1px solid var(--gray-1);
    background-color: var(--body-bg);
}
.card-post-dashboard{
    display: flex;
    height: 13rem;
    border-radius: 20px;
}
.dashboard-atividade-card, .card-atividade-body{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 300;
    color: unset !important;
}
.dashboard-atividade-card{
    border-radius: 20px;
    border: 1px solid var(--gray-1);
    padding: 10px;
    justify-content: space-between;
}
.capa-atividade{
    width: 5rem;
    height: 5rem;
    border-radius: 10px;
    object-fit: cover;
}
.atividade-tipo{
    color: var(--green);
}
.dashboard-items-section .fa-chevron-right{
    color: var(--gray-2);
}
.card-membro-ha{
    grid-area: b;
}
.card-proxima-programacao{
    grid-area: a;
}
.card-eventos-dashboard{
    grid-area: c;
}
.card-atividades-dashboard{
    grid-area: e;
}
.card-notificacoes{
    grid-area: d;
}
.card-atividades-dashboard-body::-webkit-scrollbar, .dashboard-notificacoes-list::-webkit-scrollbar{
    display: none;
}
.evento-capa{
    width: 50%;
}
.card-eventos-dashboard a{
    font-weight: unset;
    color: unset !important;
}
.btn-confirmar-participacao{
    display: none;
}
.dashboard-notificacoes-list{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 13rem;
}
.darkmode .tooltip{
    color: white !important;
}