
.main-dashboard{
    height: 100vh;
    width: 100vw;
    background-color: var(--gray-1);
    padding-inline: 15px;
    display: flex;
    column-gap: 20px;
}
.top-nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav-items{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.top-nav-item{
    border-radius: 50%;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--black-1);
}
.user-profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: var(--aqua-blue);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-name div:last-child{
    color: var(--gray-2);
}
.top-nav-user{
    display: none;
}
.top-nav-mobile{
    display: none;
}
.top-nav-left, .side-nav-logo{
    display: flex;
    align-items: center;
}

.side-nav-logo{
    gap: 20px;
    height: 60px;
}

.form-search{
    background-color: var(--body-bg);
    box-shadow: rgba(99, 99, 99, 0.055) 0px 0px 5px 0px;
}

.side-nav-icon{
    height: 40px;
    width: 40px;
}

.search-input{
    position: relative;
}
.search-input input{
    width: 30vw;
    text-indent: 25px;
}
.search-input i{
    position: absolute;
    left: 25px;
    transform: translate(-50%, -50%);
    top: 50%;
    color: var(--gray-2);
    font-size: 18px;
}

.dashboard-card{
    flex: 1 0;
    margin-top: 10px;
    border-radius: 40px;
    background-color: var(--body-bg);
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.055) 0px 0px 5px 0px;
    margin-bottom: 20px;
}

.side-nav-items{
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 5px;
}
.side-nav-items a, .side-nav-logo{
    color: var(--gray-3);
    line-height: normal;
}
.side-nav-item{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: var(--rounded-pill);
    padding-right: 10px;
    position: relative;
}
@media (min-width: 1025px) {
    .side-nav{
        transition: max-width 0.3s ease;
        max-width: 200px;
        overflow: hidden;
    }
    .side-nav-text{
        margin-left: 40px;
    }
    .side-nav-icon:not(.side-logo-icon){
        position: absolute;
    }
    .side-nav.collapsed .side-nav-item{
        padding-right: 0;
    }
    .side-nav-text,
    .side-nav-icon-text{
        transition: opacity 0.3s ease;
        white-space: nowrap;
    }
    .side-nav.collapsed .side-nav-text,
    .side-nav.collapsed .side-nav-icon-text{
        opacity: 0;
        visibility: hidden;
    }
    .side-nav.collapsed{
        max-width: 40px;
    }
}

.side-nav-item:hover, .side-nav-item.active{
    background-color: var(--green-transparent);
    color: var(--green);
    .side-nav-icon{
        color: var(--green);
    }
}
.side-nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-2);
}
.side-nav-icon i{
    font-size: 15px;
}
.side-nav-icon svg{
    height: 15px;
    width: 15px;
    object-fit: contain;
}
.overlay-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
  }

.dashboard-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dashboard-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-head-actions{
    display: flex;
    gap: 10px;
}
.dashboard-head-actions button{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.top-nav{
    fill: linear-gradient(270deg, #3DBD90 0.48%, #2C868C 99.84%);
    filter: drop-shadow(0px 2px 32.3px rgba(0, 0, 0, 0.20));
}

.bottom-nav{
    border-radius: var(--rounded-pill, 1000px);
    opacity: 0.96;
    background: linear-gradient(90deg, #3DBD90 0%, #2C868C 100%);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.30);
}

.bottom-nav-items{
    display: flex;
    width: 288px;
    justify-content: space-between;
    align-items: center;
}

.bottom-nav-item{
    fill: rgba(0, 0, 0, 0.00);
    opacity: 0.8;
}

.card-mobile{
    border-radius: 20px;
    background: #FFF;
}

.card-mobile-img{
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.46) 68%), url(<path-to-image>) lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.agenda-semanal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
} */