.darkmode:root{
    --body-bg: #1E1E1E;
    --gray-1: #212224;
}

.main-dashboard{
    height: 100dvh;
    width: 100dvw;
    background-color: var(--gray-1);
    padding-inline: 15px;
    display: flex;
    column-gap: 20px;
    background-image: url(../img/bottom-desktop.svg);
    background-position: 0 105%;
    background-size: contain;
    background-repeat: no-repeat;
}
.top-nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.top-nav-items{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.top-nav-item{
    border-radius: 50%;
    font-size: 18px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-nav-item.active{
    color: var(--body-bg);
    background-color: var(--green);
}
.user-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--black-1);
}
.side-nav .user-infos{
    display: none;
}
.user-profile{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    background-color: var(--aqua-blue);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-name div:last-child{
    color: var(--gray-2);
}
.top-nav-user{
    display: none;
}
.top-nav-mobile{
    display: none;
}
.top-nav-left, .side-nav-logo{
    display: flex;
    align-items: center;
}

.side-nav-logo{
    gap: 20px;
    height: 60px;
}

.form-search{
    background-color: var(--body-bg);
    box-shadow: rgba(99, 99, 99, 0.055) 0px 0px 5px 0px;
}

.side-nav-icon{
    height: 40px;
    width: 40px;
}

.search-input input{
    width: 30vw;
}

.dashboard-card{
    flex: 1 0;
    margin-top: 10px;
    border-radius: 40px;
    background-color: var(--body-bg);
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.055) 0px 0px 5px 0px;
    margin-bottom: 20px;
    overflow-y: scroll;
}
.dashboard-card::-webkit-scrollbar{
    display: none;
}

.side-nav-items{
    display: grid;
    width: 100%;
    row-gap: 5px;
    height: calc(100dvh - 60px);
    overflow-y: scroll;
    grid-auto-rows: min-content;
    margin-top: 10px;
}
.side-nav-items a, .side-nav-logo{
    color: var(--gray-3);
    line-height: normal;
}
.side-nav-logo{
    position: sticky;
}
.side-nav-items::-webkit-scrollbar{
    display: none;
}
.side-nav-item{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: var(--rounded-pill);
    padding-right: 10px;
    position: relative;
}
.side-nav-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    i {
        color: var(--gray-2);
    }
}
.side-nav-icon-text{
    color: var(--black-1);
}
.side-nav-subitem ul{
    padding-left: 0;
}
.side-nav-subitem ul li{
    position: relative;
    list-style-type: none;
    padding: 10px;
    padding-left: 40px;
    margin-bottom: 5px;
    border-radius: var(--rounded-pill);
}

.side-nav-subitem ul a:not(:last-child) li::after{
    position: absolute;
    left: 20px;
    content: ' ';
    background-color: #d4d4d4;
    width: 1px;
    height: calc(100% + 5px);
    top: 50%;
    z-index: 1;
}
.side-nav-subitem ul li::before {
    position: absolute;
    content: '•';
    font-size: 1.5rem;
    color: #d4d4d4;
    position: absolute;
    left: calc(20px - .375rem);
    top: .375rem;
    z-index: 2;
}
.side-nav-text i{
    transition: rotate 200ms ease-in-out;
}
.side-nav-item[aria-expanded="true"] .side-nav-text i,
.side-nav-item.open .side-nav-text i{
    rotate: 90deg;
}
@media (min-width: 1025px) {
    .side-nav{
        transition: max-width 0.3s ease;
        max-width: 200px;
        overflow: hidden;
        height: 100vh;
    }
    .side-nav-text{
        margin-left: 40px;
    }
    .side-nav-icon:not(.side-logo-icon){
        position: absolute;
    }
    .side-nav.collapsed .side-nav-item,
    .side-nav.collapsed .side-nav-subitem ul li{
        padding-right: 0;
        width: 40px;
    }
    .side-nav-text,
    .side-nav-icon-text,
    .side-nav-subitem-text{
        transition: opacity 0.3s ease;
        white-space: nowrap;
    }
    .side-nav.collapsed .side-nav-text,
    .side-nav.collapsed .side-nav-icon-text,
    .side-nav.collapsed .side-nav-subitem-text{
        opacity: 0;
        visibility: hidden;
    }
    .side-nav.collapsed{
        max-width: 40px;
    }
}
.side-nav-subitem ul a:hover li::before,
.side-nav-subitem ul a li.active::before{
    color: var(--green);
}
.side-nav-item:hover, .side-nav-item.active,
.side-nav-subitem ul li:hover, .side-nav-subitem ul li.active{
    background-color: var(--green-transparent);
    color: var(--green);
    .side-nav-icon, a{
        color: var(--green);
    }
}
.side-nav-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-2);
}
.side-nav-icon i{
    font-size: 15px;
}
.side-nav-icon svg{
    height: 15px;
    width: 15px;
    object-fit: contain;
}
.overlay-sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
  }

.dashboard-content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dashboard-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-head-actions{
    display: flex;
    gap: 10px;
}
.dashboard-head-actions button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-actions{
    color: var(--green);
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
}
.item-actions-popover{
    display: grid;
    gap: 15px;
}
.item-actions-popover a{
    color: var(--black-1);
    font-size: 1.1rem;
}
#foto-preview-div{
    height: 200px;
    width: 100%;
    border: 1px dashed var(--aqua-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: var(--aqua-blue);
    text-align: center;
    cursor: pointer;
    position: relative;
}
#foto-preview{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
#foto-preview[src=""]{
    visibility: hidden;
}
.button-upload{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aqua-blue);
    border-color: var(--aqua-blue);
}

.form-check-input:checked{
    background-color: var(--green);
    border-color: var(--green);
}

/* Ckeditor personalizado */
.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset, .ck.ck-reset_all{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.ck.ck-editor__top .ck-sticky-panel .ck-sticky-panel__content{
    border: 0 !important;
    border-bottom: 1px solid var(--gray-2) !important;
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
    border: 0 !important;
}
.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset, .ck.ck-reset_all,
.ck.ck-editor__main>.ck-editor__editable{
    background-color: var(--gray-1) !important;
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable,
.ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners,
.ck.ck-reset{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}


.modal-excluir-body{
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 20px;
    align-items: center;
    padding-top: .5rem;
}
.modal-excluir-body .modal-title{
    font-weight: 600;
}
.modal-excluir-body i{
    height: 65px;
    width: 65px;
    background-color: rgba(255, 127, 80, 0.185);
    color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.darkmode .modal-excluir-body, .darkmode #form-delete .modal-footer *{
    color: white !important;
}