@media (max-width: 768px) {
    .main-dashboard{
        padding: 0;
    }
    .side-nav{
        position: fixed;
        background-color: var(--body-bg);
        right: -70%;
        padding: 5%;
        width: 70%;
        overflow: hidden;
        z-index: 9999;
        transition: all 300ms linear;
        transform: translateX(0);
        height: 100%;
    }
    .side-nav.collapsed{
        transform: translateX(-100%);
    }
    .side-nav-logo{
        display: none;
    }
    
    .side-nav.collapsed .side-nav-text,
    .side-nav.collapsed .side-nav-icon-text{
        display: flex;
    }
    .main-dashboard{
        background-color: var(--body-bg);
        position: relative;
    }
    .dashboard-card{
        background: none;
        box-shadow: none;
        width: 100dvw;
        padding: 5%;
        padding-bottom: 100px;
        box-sizing: border-box;
    }
    .dashboard-card > *:first-child{
        margin-top: 8rem;
    }

    .top-nav-mobile{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        color: var(--body-bg);
        font-weight: 400;
        font-size: 1.7rem;
    }
    .top-nav{
        background-image: url('../img/top-nav-mobile.svg'), url('../img/top-nav-mobile-2.svg');
        height: 8rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        padding-inline: 20px;
        font-size: 2rem;
        padding-bottom: 25px;
        position: fixed;
        top: 0;
        z-index: 5;
    }
    .top-nav a{
        color: var(--body-bg);
        font-size: 2rem;
    }
    .top-nav-left{
        display: none;
    }
    .top-nav-items{
        position: fixed;
        bottom: 15px;
        width: calc(100% - 25px);
        left: 0;
        right: 0;
        margin-inline: auto;
        z-index: 999;
        background-image: linear-gradient(to right, var(--green), var(--aqua-blue));
        border-radius: var(--rounded-pill);
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .top-nav-item{
        background: none;
    }
    .top-nav-item i{
        font-size: 2rem;
        color: var(--body-bg);
        opacity: 0.8;
    }
    .top-nav-item.active{
        background: none;
    }
    .top-nav-item.active i{
        opacity: 1;
        color: var(--body-bg);
    }
    .top-nav-user{
        display: flex;
    }
    .top-nav .user-infos{
        display: none;
    }
    .side-nav .user-infos{
        display: flex;
        padding-bottom: 20px;
    }
    .dashboard-head h3{
        display: none;
    }
    .dashboard-head-actions{
        width: 100%;
    }
    .dashboard-head-actions .search-input{
        flex: 1;
    }
    .dashboard-head-actions .search-input input{
        width: 100%;
    }
    .button-adicionar {
        text-align: center;
    }
    .button-adicionar span{
        display: none;
    }

    .modal-excluir-body i{
        height: 80px;
        width: 80px;
        font-size: 3rem;
    }
    .modal-excluir-body{
        grid-template-columns: 1fr;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #form-delete{
        padding-bottom: 1rem;
    }
    #form-delete .modal-footer{
        justify-content: center;
    }
    .card-post-aberto{
        height: fit-content;
    }
    .toast {
        top: 8rem !important;
        margin-inline: auto !important;
        left: 0 !important;
        right: 0 !important;
        height: fit-content;
    }
}