{% extends "layouts/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% block style %}{% endblock style %}


{% endblock css %}

{% block content %}
<section class="main-dashboard">
    {% include "core/partials/_navbar.html" %}
    <section class="dashboard-content">
        {% include "core/partials/_topnav.html" %}
        <div class="dashboard-card">
            <div class="dashboard-head">
                <h3 class="titulo-dashboard">{% block app_title %}{% endblock app_title %}</h3>
                <div class="dashboard-head-actions">
                    {% block dashboard_actions %}
                    {% endblock dashboard_actions %}
                </div>
            </div>
            {% block dashboard_content %}{% endblock dashboard_content %}
        </div>
    </section>
</section>
{% include "core/includes/modal_delete.html" %}
{% endblock content %}

{% block scripts %}
<script>
    function menu_collapse(){
        let collapsed = $('.side-nav').toggleClass("collapsed");
        if ($('.side-nav').hasClass('collapsed')){
            $('.side-nav-subitem a').tooltip('enable')
        }else{
            $('.side-nav-subitem a').tooltip('disable')
        }
        if (window.innerWidth <= 768) {
            if($('#overlay-sidenav').length > 0){
                $('#overlay-sidenav').remove()
            }else{
                if($('.side-nav').hasClass('collapsed')){
                    $('body').append('<div id="overlay-sidenav" class="overlay-sidenav fade show" onclick="menu_collapse()"></div>')
                }
            }
        }
    };

    $(function(){
        $('.item-actions').each(function () {
            $(this).popover('dispose');
            $(this).popover({
                html: true,
                content: `
                    <div class="item-actions-popover">
                        <a href="${$(this).data('editlink')}"><i class="fa-solid fa-pen-to-square"></i> <span>Editar</span> </a>
                        <a role="button" data-object="${$(this).data('object')}" data-deletelink="${$(this).data('deletelink')}" data-bs-toggle="modal" href="#" data-bs-target="#delete-modal"><i class="fa-solid fa-trash-can text-danger"></i> <span>Excluir</span> </a>
                    </div>
                `,
                placement: 'left',
                trigger: 'blur',
                allowList: {
                    a: ['href', 'role', 'data-object', 'data-deletelink', 'data-bs-toggle', 'data-bs-target'],
                    i: ['class'],
                    div: ['class'],
                    span: []
                }

            })
        });

        $("[data-bs-toggle='tooltip']").tooltip()
        $('.side-nav-subitem a').tooltip('disable')

        $("#delete-modal").on("show.bs.modal", event => {
            $('.item-actions').popover('hide')
            const button =  event.relatedTarget;
            $("#form-delete").prop('action', button.dataset.deletelink)
            $(".object-delete").html(button.dataset.object)
        })
    });

    function fotoPreview(input_id, foto_preview='#foto-preview'){
        try{
            const input = document.getElementById(input_id);
            const file = input.files;
            if (file && file[0] && input_id) {
                const fileReader = new FileReader();
                const preview = document.querySelector(foto_preview);
                fileReader.onload = function (event) {
                    preview.setAttribute('src', event.target.result);
                }
                fileReader.readAsDataURL(file[0]);
            }
        }catch(e){
            console.log(e)
        }
    }
</script>
{% block _scripts %}{% endblock _scripts %}
{% endblock scripts %}