{% extends "layouts/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
{% block style %}{% endblock style %}
{% endblock css %}

{% block content %}
<section class="main-dashboard">
    {% include "core/partials/_navbar.html" %}
    <section class="dashboard-content">
        {% include "core/partials/_topnav.html" %}
        <div class="dashboard-card">
            <div class="dashboard-head">
                <h3><b>{% block app_title %}{% endblock app_title %}</b></h3>
                <div class="dashboard-head-actions">
                    {% block dashboard_actions %}
                    {% endblock dashboard_actions %}
                </div>
            </div>
            {% block dashboard_content %}{% endblock dashboard_content %}
        </div>
    </section>
</section>
{% endblock content %}

{% block scripts %}
<script>
    function menu_collapse(){
        $('.side-nav').toggleClass("collapsed")
        if (window.innerWidth <= 768) {
            if($('#overlay-sidenav').length > 0){
                $('#overlay-sidenav').remove()
            }else{
                if($('.side-nav').hasClass('collapsed')){
                    $('body').append('<div id="overlay-sidenav" class="overlay-sidenav fade show" onclick="menu_collapse()"></div>')
                }
            }
        }
    }
</script>
{% block _scripts %}{% endblock _scripts %}
{% endblock scripts %}