{% extends "core/dashboard.html" %}
{% load static %}
{% load instance_name %}

{% block app_title %}
{{ titulo }}
{% endblock app_title %}

{% block style %}
<link rel="stylesheet" href="{% static 'evento/css/evento.css' %}">
<link rel="stylesheet" href="{% static 'evento/css/evento_responsive.css' %}">
<link rel="stylesheet" href="{% static 'notificacao/css/notificacao.css' %}">
<link rel="stylesheet" href="{% static 'notificacao/css/notificacao_responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/dashboard_responsive.css' %}">

{% endblock style %}

{% block dashboard_actions %}
{% endblock dashboard_actions %}

{% block dashboard_content %}
<section class="dashboard-membro">
    <div class="introducao-dashboard">
        <h4>Bem-vindo(a) {{ usuario.primeiro_nome }}!</h4>
    </div>
    <section class="dashboard-membros-cards">
        <a href="{% url 'agenda:agendas_list_view' instituicao.pk %}" class="card-dashboard card-proxima-programacao">
            <div class="programacao-icone"><i class="fa-solid fa-clock"></i></div>
            <div>
                <div class="mb-2"><h6>Próxima programação: {{ instituicao.proxima_agenda.get_dia_semana_display }}</h6></div>
                <div><h5>{{ instituicao.proxima_agenda.titulo }} às {{ instituicao.proxima_agenda.hora }}</h5></div>
            </div>
        </a>
        <div class="card-dashboard card-membro-ha">
            <h6><b>Você é membro há</b></h6>
            <h2>{{ usuario.membro_ha }}</h2>
        </div>
        <section class="dashboard-items-section card-dashboard card-eventos-dashboard">
            <div class="d-flex align-items-center justify-content-between">
                <small><b>Próximo Evento</b></small>
                <small><a href="{% url 'evento:evento_list_view' instituicao.pk %}">Ver todos</a></small>
            </div>
            <div class="">
                {% if instituicao.proximo_evento %}
                <a href="{% url 'evento:evento_detail_view' instituicao.proximo_evento.pk %}">
                    {% include "evento/partials/card_evento.html" with evento=instituicao.proximo_evento %}
                </a>
                {% else %}
                <small>Ainda não há eventos para os próximos dias.</small>
                {% endif %}
            </div>
        </section>
        <section class="card-dashboard card-notificacoes">
            <div class="d-flex align-items-center justify-content-between">
                <small>Últimas notificacões</small>
                <small><a href="{% url 'notificacao:notificacoes_list_view' %}">Veja mais notificações</a></small>
            </div>
            <div class="dashboard-notificacoes-list">
                {% for notificacao in request.user.notificacoes.all %}
                    {% include "notificacao/partials/notificacao_card.html" with notificacao=notificacao %}
                    {% empty %}
                    <div class="text-center mt-3">
                        <small>Não há notificações.</small>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="dashboard-items-section card-atividades-dashboard card-dashboard">
            <div class="">
                <small><b>Atividade</b></small>
            </div>
            {% for atividade in instituicao.atividades %}
                <a {% if atividade|instance_name == "Evento" %}href="{% url 'evento:evento_detail_view' atividade.pk %}" {% else %} href="{% url 'posts:conteudo_detail_view' atividade.pk %}" {% endif %} class="dashboard-atividade-card">
                    <div class="card-atividade-body">
                        {% if atividade.capa %}<img src="{{ atividade.capa.url }}" class="capa-atividade" alt="">{% endif %}
                        <div>
                            <small class="atividade-tipo">{{ atividade|instance_name }}</small>
                            <div><span><b>{{ atividade.titulo }}</b></span></div>
                            <small>{{ atividade.data|date:'d/m/Y' }}</small>
                        </div>
                    </div>
                    <i class="fa-solid fa-chevron-right fa-xl"></i>
                </a>
            {% endfor %}
            <div class="text-center mt-3">
                <small >Veja mais atividades em eventos ou conteúdos publicados.</small>
            </div>
        </section>
    </section>
</section>
{% endblock dashboard_content %}

{% block _scripts %}
{% endblock _scripts %}