@media (max-width: 768px) {
    .dashboard-sidecontent{
        background-color: var(--gray-1);
    }
    .notificacao-card{
        background-color: var(--body-bg);
    }
    .dashboard-head-actions .search-input input{
        background-color: var(--body-bg);
    }
    /* .notificacoes-section{
        margin-top: 1rem;
    } */
    .darkmode .dashboard-sidecontent{
        background-color: var(--body-bg);
    }
    .darkmode .notificacao-card{
        background-color: var(--gray-1);
    }
}