.evento-detail{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.dashboard-head{
    margin: 0;
}
.titulo-dashboard{
    display: none;
}
.dashboard-content{
    height: unset;
}
.dashboard-card{
    overflow-y: scroll;
    margin-bottom: 0;
}
.dashboard-card, .dashboard-sidecontent{
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}
.card-post{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 260px;
}
.evento-aberto-header{
    width: calc(100% - 40%);
    position: absolute;
    left: 20%;
}
.evento-aberto-title{
    font-weight: 500;
}
.evento-aberto-content{
    margin-top: 100px;
}
.evento-titulo{
    margin-top: 1rem;
    font-size: 2rem;
}

.evento-pessoas{
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 1.5rem;
}
.evento-pessoas i{
    text-align: center;
}

@media (max-width: 768px) {
    .dashboard-sidecontent{
        background-color: var(--light-bg);
    }
    .dashboard-card{
        padding: 0;
        
    }
    .dashboard-card{
        padding-bottom: 100px;
    }
    .evento-detail{
        height: fit-content;
    }
    .card-post{
        height: 260px;
    }
    .evento-aberto-header{
        width: calc(100% - 20%);
        left: 10%;
    }
    .card-post-aberto{
        min-height: 60dvh;
        height: fit-content;
        padding-inline: 10%;
        padding-bottom: 50px;
        justify-content: space-between;
    }
}