/* .membro-form-section{
    margin-top: 1.5rem;
} */

.form-membro{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.table-membros{
    width: 100%;
    /* margin-top: 1rem; */
    border-collapse: separate; 
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table-membros tbody tr{
    background-color: var(--gray-1);
}
.table-membros tbody td, .table-membros thead th{
    padding: 10px;
}
.table-membros tbody td:first-child{
    border-top-left-radius: var(--rounded-pill);
    border-bottom-left-radius: var(--rounded-pill);
}
.table-membros tbody td:last-child{
    border-top-right-radius: var(--rounded-pill);
    border-bottom-right-radius: var(--rounded-pill);
}

.membro-foto-table{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.btn-model-add {
    height: unset;
    width: unset;
    min-height: unset;
    min-width: unset;
    padding: .175rem 1.25rem;
}



#funcoes-formset{
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

#div_id_foto .input-group-text{
    border: 0;
    border-top-left-radius: var(--rounded-pill);
    border-bottom-left-radius: var(--rounded-pill);
    background-color: var(--gray-1);
}
#div_id_foto .form-control.h-auto{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-top-right-radius: var(--rounded-pill);
    border-bottom-right-radius: var(--rounded-pill);
    background-color: var(--gray-1);
}