@media (max-width: 768px) {
    /* .dashboard-card{
        background-color: var(--gray-1);
    } */
    .dashboard-content{
        height: unset;
    }
    .dashboard-head{
        margin-top: 0;
    }
    .dashboard-sidecontent{
        background-color: var(--gray-1) !important;
    }
    .profile-view{
        grid-template-columns: 1fr;
    }
    .profile-navs{
        flex-direction: row;
        flex-wrap: wrap;
        background-color: var(--body-bg);
        border-radius: 30px;
        padding: 10px;
    }
    .profile-informacoes-grid{
        grid-template-columns: 1fr;
    }
    .btn-profile-navs, .btn-profile-navs.active{
        white-space: nowrap;
    }
    .profile-navs::-webkit-scrollbar{
        display: none;
    }
    a.btn-deletar-conta{
        margin-top: 0;
    }
    .profile-generic-infos, .profile-informacoes, .profile-edit-div{
        background-color: var(--body-bg);
        border-radius: 30px;
    }
    .profile-redesocial-grid{
        grid-template-columns: 1fr;
    }
    .profile-edit-div{
        border: 0;
    }
    .profile-infos button[type="submit"]{
        width: 100%;
    }
    .button-outlined{
        background-color: transparent;
    }
    .profile-redesocial-grid .btn-model-add{
        width: 50px;
        margin-left: auto;
    }

    .darkmode .dashboard-card{
        background-color: var(--body-bg);
    }
    .darkmode .button-outlined{
        background-color: var(--body-bg);
    }
    .darkmode .profile-navs{
        background-color: var(--gray-1);
    }
    .darkmode .profile-generic-infos, .darkmode .profile-informacoes,.darkmode  .profile-edit-div{
        background-color: var(--gray-1);
    }
}