<div class="card-contribuicao-pix card-contribuicao">
    <div class="card-cotribuicao-body">
        <div>
            <i class="fa-solid fa-key fa-2xl"></i>
        </div>
        <div>
            <div class="card-contribuicao-metodo">
                Chave Pix Aleatória {% if contribuicao and contribuicao.departamento %}- {{contribuicao.departamento}}{% endif %}:
            </div>
            <div class="card-contribuicao-chave" data-chave="{{ contribuicao.chave_pix|default:"" }}" id="chave-pix-{{ forloop.counter|default:"0" }}">
                {{ contribuicao.chave_pix|truncatechars:25|default:"----------" }}
            </div>
        </div>
    </div>
    <div class="card-contribuicao-copy">
        <i role="button" {% if contribuicao %}onclick="copiarChavePix('#chave-pix-{{ forloop.counter|default:"0" }}', this)"{% endif %} class="fa-solid fa-copy fa-2xl"></i>
    </div>
</div>