<div class="card-contribuicao-deposito card-contribuicao">
    <div class="card-cotribuicao-body">
        <div class="card-contribuicao-metodo">
            Depósito:
        </div>
        <div class="card-contribuicao-conta">
            <div>
                <div class="contribuicao-titulo">Conta Corrente</div>
                <div class="contribuicao-numconta">{{ contribuicao.conta|default:"-----" }}</div>
            </div>
            <div>
                <div class="contribuicao-titulo">Agência</div>
                <div class="contribuicao-agencia">{{ contribuicao.agencia|default:"-----" }}</div>
            </div>
            <div>
                <div class="contribuicao-titulo">Banco</div>
                <div class="contribuicao-banco">{{ contribuicao.banco|default:"-----" }}</div>
            </div>
        </div>
    </div>
</div>